@import 'foundation/settings';
@import 'foundation';

body {
    overflow: hidden;
}

// mixin to address iOS 7 issue with vh, vmin
//
@mixin viewport-unit($property, $value) {
  #{$property}: $value;

  $unit: unit($value);

  @if (index((vw, vh, vmin, vmax), $unit) != null) {
    $devices: (
      (768px, 1024px), // iPad (all versions)
      (1024px, 768px),
      (320px, 480px),  // iPhone 4
      (320px, 568px)   // iPhone 5, 5C, 5S
    );

    @each $device in $devices {
      $device-width: nth($device, 1);
      $device-height: nth($device, 2);

      $device-query: "only screen and (-webkit-min-device-pixel-ratio: 1)";
      $device-query: "#{$device-query} and (device-width: #{$device-width})";
      $device-query: "#{$device-query} and (device-height: #{$device-height})";

      $percent: $value / ($value * 0 + 1); // see https://github.com/sass/sass/issues/533

      $percent-width: $device-width * $percent / 100;
      $percent-height: $device-height * $percent / 100;

      @if ($unit == vmin or $unit == vmax) {
        @media #{$device-query} {
          #{$property}: if($unit == vmin, $percent-width, $percent-height);
        }
      }
      @else {
        @media #{$device-query} and (orientation: portrait) {
          #{$property}: if($unit == vw, $percent-width, $percent-height);
        }

        @media #{$device-query} and (orientation: landscape) {
          #{$property}: if($unit == vw, $percent-height, $percent-width);
        }
      }
    }
  }
}

// mixin for anchor transition animation
@mixin anchor-transition-hover($duration) {
    a {
        transition: all $duration ease;
    }
}


// font-sizing
$font-weight-thin: 300;
$font-size-sans-serif-nav-large: 1rem;
$font-size-sans-serif-nav-medium: 0.9rem;
$font-size-sans-serif-nav-small: 0.9rem;
$font-size-sans-serif-page-header-large: 2.9rem;
$font-size-sans-serif-page-header-medium: 2.5rem;
$font-size-sans-serif-page-header-small: 2rem;
$font-size-sans-serif-page-subheader-large: 2.1rem;
$font-size-sans-serif-page-subheader-medium: 1.8rem;
$font-size-sans-serif-page-subheader-small: 1.5rem;
$font-size-custom-panel-large: 2rem;
$font-size-custom-panel-medium: 1.8rem;
$font-size-custom-panel-small: 1.5rem;
$font-size-hero-nav-large: 1.3rem;
$font-size-hero-nav-medium: 1.1rem;

// top-bar, tab-bar top margins
$top-bar-top-margin-large: 2rem;
$top-bar-top-margin-medium: 1.5rem;
$tab-bar-top-margin: 1rem;


.vh-style {
    @media #{$small-up} {
        @include viewport-unit(height, 100vh);
        figure{
            @include viewport-unit(height, 100vh);
            img {
            @include viewport-unit(max-height, 100vh);
            }
        }
    }

}


//-----------------------------------------------------
// FOOTER SCSS
//-----------------------------------------------------


// 'What's next ' section
#whats-next {
    @media #{$small-only} {
        padding-top: 5rem;
        /*
        ul {
            padding-top: 6rem;
            border-top: 1px solid $black;
        }
        */
    }
    @media #{$medium-only} {
        padding-top: 11rem;
    }
    @media #{$large-up} {
        padding-top: 13rem;
    }
    ul {
        margin-top: 1rem;
    }
    li {
        margin-bottom: 1rem;
        font-family: $font-family-sans-serif;
        font-weight: $font-weight-thin;
        font-style: italic;
        @media #{$small-only} {
            font-size: $font-size-sans-serif-page-subheader-small - 0.3rem;
        }
        @media #{$medium-only} {
            font-size: $font-size-sans-serif-page-subheader-small - 0.3rem;
        }
        @media #{$large-up} {
            font-size: $font-size-sans-serif-page-subheader-medium - 0.3rem;
        }
        @include anchor-transition-hover(0.3s);
    }
}


#error {
    @extend #whats-next;
    padding-top: 4rem;
}



#footer-wrapper {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    color: $white;
    margin-top: 2rem;
    padding-top: 1rem;
    @media #{$large-up} {
        background-image: url("https://res.cloudinary.com/sergeynikiforov/image/upload/c_fit,q_80,w_2800/v1451499214/IMG_8040-Edit-Edit-1_yx2dvq.jpg");
        background-position: 50% 25%;
    }
    @media #{$medium-only} {
        background-image: url("https://res.cloudinary.com/sergeynikiforov/image/upload/c_fit,q_80,w_1600/v1451499214/IMG_8040-Edit-Edit-1_yx2dvq.jpg");
        background-position: 50% 10%;
    }
    @media #{$small-only} {
        background-image: url("https://res.cloudinary.com/sergeynikiforov/image/upload/ar_4:4,c_fill,g_north_west,q_80,w_1024/v1451499214/IMG_8040-Edit-Edit-1_yx2dvq.jpg");
        background-position: 10% 50%;
    }
}

#footer-img {
    @extend #footer-wrapper;
}

// main footer section
#footer-top-section {
    color: $white;
    @media #{$medium-up} {
        border-top: 0px solid $white;
        margin-top: 3rem;
        padding-top: 2rem;
    }
    @media #{$small-only} {
        margin-top: 2rem;
    }
}

#footer-bottom-section {
    border-top: 0px solid $white;
    margin-top: 2rem;
    margin-bottom: 5rem;
    padding-top: 2rem;
    font-family: $font-family-sans-serif;
    font-weight: $font-weight-thin;
    @media #{$small-only} {
        font-size: $font-size-sans-serif-nav-small;
        border-top: 0px solid $white;
        margin-top: 0rem;
        margin-bottom: 2rem;
    }
    @media #{$medium-only} {
        font-size: $font-size-sans-serif-nav-medium;
    }
    @media #{$large-up} {
        font-size: $font-size-sans-serif-nav-large;
    }
    .page-top-link {
        font-style: italic;
        @include anchor-transition-hover(0.3s);
        a {
            color: $white;
            &:hover {
                color: $red;
            }
        }
    }
    .copyright p {
        @include anchor-transition-hover(0.3s);
        font-weight: $font-weight-thin;
        a {
            color: $white;
            &:hover {
                color: $red;
            }
        }
        margin-bottom: 0rem;
        @media #{$small-only} {
            font-size: $font-size-sans-serif-nav-small;
        }
        @media #{$medium-only} {
            font-size: $font-size-sans-serif-nav-medium;
        }
        @media #{$large-up} {
            font-size: $font-size-sans-serif-nav-large;
        }
    }
}

// column within footer-top-section
.footer-column {
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    .footer-column-title {
        font-weight: $font-weight-bold;
        font-style: normal;
        margin-bottom: 0.6rem;
        @media #{$small-only} {
            border-top: 0px solid $white;
            padding-top: 0.5rem;
        }
    }
    font-family: $font-family-sans-serif;
    font-weight: $font-weight-thin;
    font-style: italic;
    ul li {
        a {
            color: $white;
            &:hover {
                color: $red;
            }
        }
        margin-bottom: 0.2rem;
        @media #{$small-only} {
            font-size: $font-size-sans-serif-nav-small;
        }
        @media #{$medium-only} {
            font-size: $font-size-sans-serif-nav-medium;
        }
        @media #{$large-up} {
            font-size: $font-size-sans-serif-nav-large;
        }
    }
}

// END FOOTER
//-----------------------------------------------------

//-----------------------------------------------------
// TOP-BAR NAV SCSS
//-----------------------------------------------------
//

// transparency
.fixed, .top-bar, .top-bar-section ul, .top-bar-section ul li, .top-bar-section li:not(.has-form) a:not(.button), .top-bar-section .dropdown li a, .top-bar-section .dropdown li:not(.has-form) a:not(.button), .top-bar-section li:not(.has-form) a:not(.button):hover, .toggle-topbar, .tab-bar, .left .tab-bar-section, .right-off-canvas-toggle {
    background: transparent !important;
    //transition: 0.3s;
}
.fixed {
    transition: 0.3s;
}

// white bg
.white-bg {
    background: $black !important;
    transition: 0.3s;
    /*
    .fixed, .top-bar, .top-bar-section ul, .top-bar-section ul li, .top-bar-section li:not(.has-form) a:not(.button), .top-bar-section .dropdown li a, .top-bar-section .dropdown li:not(.has-form) a:not(.button), .top-bar-section li:not(.has-form) a:not(.button):hover, .toggle-topbar, .tab-bar, .left .tab-bar-section, .right-off-canvas-toggle {
        background: gray !important;
        //transition: 0.3s;
    }
    */
}

#navigation-bar {
    @media #{$medium-only} {
        margin-top: $top-bar-top-margin-medium;
        margin-left: -8px;
        margin-right: -8px;
    }
    @media #{$large-up} {
        margin-top: $top-bar-top-margin-large;
        margin-left: -10px;
        margin-right: -10px;
    }
}

#navigation-top-bar {
    @extend #navigation-bar;
}

#navigation-tab-bar {
    @extend #navigation-bar;
}

#navigation-off-canvas-bar {
    @extend #navigation-tab-bar;
}

#navigation-bar-photo {
    @media #{$medium-only} {
        margin-top: $top-bar-top-margin-medium;
    }
    @media #{$large-up} {
        margin-top: $top-bar-top-margin-large;
        margin-left: -10px;
        margin-right: -10px;
    }
}

#navigation-tab-bar-photo {
    @extend #navigation-bar-photo;
}


#navigation-bar .top-bar {
    .expanded .top-bar-section ul.right.text-right {
    padding-top: 1rem;
    }
}

.top-bar .top-bar-section ul.dropdown {
    padding-top: 1.5rem;
    li a {
        font-family: $font-family-sans-serif;
        font-weight: $font-weight-thin;
        margin: 0.5rem 0rem;
    }
}

.top-bar .title-area {

    h1 > a {
        color: $white;
        margin: 0px;
        padding: 0px;
        font-weight: $font-weight-bold;
        font-family: $font-family-sans-serif;
        font-size: $font-size-sans-serif-nav-large;
        @media #{$medium-only} {
            font-size: $font-size-sans-serif-nav-medium;
        }
        &.black-color {
            color: $black;
            &:hover {
                color: $red;
            }
        }
    }
    h2, p > a {
        color: $white;
    }
    a:hover {
        color: $red;
    }
    .toggle-topbar a {
        color: $white;
        font-family: $font-family-sans-serif;
        font-weight: $font-weight-thin;
        font-style: italic;
        font-size: $font-size-sans-serif-nav-large;
        @media #{$medium-only} {
            font-size: $font-size-sans-serif-nav-medium;
        }
        &:hover {
            color: $red;
        }
    }
}



.top-bar .top-bar-section .right {
    li {
        //@include anchor-transition-hover(0.3s);
    }
    li a {
        //padding-right: 0.7rem;
        color: $white;
        margin-right: 0.4rem;
        margin-left: 0.4rem;
        font-family: $font-family-sans-serif;
        font-size: $font-size-sans-serif-nav-large;
        font-weight: $font-weight-thin;
        font-style: italic;
        @media #{$medium-only} {
            font-size: $font-size-sans-serif-nav-medium;
        }
    }
    li.black-color {
        //@include anchor-transition-hover(0.3s);
        a {
            color: $black;
            &:hover {
                color: $red;
            }
        }
        .dropdown li > a {
            color: $black;
            //transition: all 0.2s ease;
        }
    }
}

#top-bar-header {
    //transition: all 0.2s ease;
}

// END TOP-BAR
//-----------------------------------------------------

// OFFCANVAS NAV SCSS
//-----------------------------------------------------
//

// tab-bar
.tab-bar {
    @include anchor-transition-hover(0.3s);
    .tab-bar-section {
        padding: 0px;
        h2 {
            padding: 8px 0px 0px 0px;
        }
    }
    .title {
        margin: 0px;
        padding: 0px;
        font-weight: $font-weight-bold;
        font-size: $font-size-sans-serif-nav-large;
        @media #{$small-only} {
            font-size: $font-size-sans-serif-nav-small;
        }
    }
    .right {
        a {
            font-weight: $font-weight-thin;
            font-style: italic;
            @media #{$medium-up} {
                padding-right: 0;
                padding-left: 0;
            }
            padding-right: 7px;
            padding-left: 7px;
            padding-top: 15px;
        }
    }
    a:hover {
        color: $red;
    }
}

// offcanvas menu
.right-off-canvas-menu {

    .off-canvas-list {
        font-family: $font-family-sans-serif;
        margin: 0rem 0.7rem;

        label {
            padding-top: 0.7rem;
            padding-left: 0.85rem;
            padding-bottom: 0.8rem;
            font-size: $font-size-sans-serif-nav-large;
        }

        a {
            margin: 0rem 0.7rem;
            padding-left: 0.2rem;
            padding-right: 0.2rem;
            font-size: $font-size-sans-serif-nav-medium;
            font-weight: $font-weight-thin;
            font-style: italic;
        }
    }
}

// offcanvas menu section labels
#off-canvas-extra-label {
    margin-top: 2.2rem;
}

// END OFFCANVAS NAV
//-----------------------------------------------------


//-----------------------------------------------------
// HOME PAGE SCSS
//-----------------------------------------------------
//


#home-nav {
    margin-top: 2rem;
}

#hero-nav {
    opacity: 0.0;
    @media #{$medium-only} {
        margin-top: $top-bar-top-margin-medium + 1.8rem;
        //margin-left: 0.9rem;
        //margin-right: 0.9rem;
    }
    @media #{$large-up} {
        margin-top: $top-bar-top-margin-large + 1.8rem;
        //margin-left: 0.9rem;
        //margin-right: 0.9rem;
    }
    p {
        @include anchor-transition-hover(0.3s);
        font-weight: $font-weight-thin;
        @media #{$medium-only} {
            font-size: $font-size-hero-nav-medium;
        }
        @media #{$large-up} {
            font-size: $font-size-hero-nav-large;
        }
    }
}

#hero-nav-no-header {

    @media #{$medium-only} {
        margin-top: $top-bar-top-margin-medium + 3.5rem;
    }
    @media #{$large-up} {
        margin-top: $top-bar-top-margin-large + 3.9rem;
        //margin-left: 0.8rem;
        //margin-right: 0.8rem;
    }
    p {
        @include anchor-transition-hover(0.3s);
        font-weight: $font-weight-thin;
        @media #{$medium-only} {
            font-size: $font-size-hero-nav-medium;
        }
        @media #{$large-up} {
            font-size: $font-size-hero-nav-large;
        }
    }
}

.bg100-image-wrapper {
    height: 100vh;
    width: 100%;
    @media #{$large-up} {
        //padding: 1.5rem;
    }
    @media #{$medium-only} {
        //padding: 0rem 0rem 6rem 0rem;
    }
}

.bg75-image-wrapper {
    height: 75vh;
    width: 100%;
    @media #{$large-up} {
        //padding: 1.5rem;
    }
    @media #{$medium-only} {
        //padding: 2rem 0rem 6rem 0rem;
    }
}

.photoset-cover-wrapper {
    width: 100%;
    @media #{$large-up} {
        @include viewport-unit(height, 40vh);
    }
    @media #{$medium-only} {
        @include viewport-unit(height, 40vh);
    }
}

.image-wrap {
    height: 100%;
    width: 100%;
}

.home-image {
    @media #{$medium-only} {
        background-image: url("https://res.cloudinary.com/sergeynikiforov/image/upload/c_fit,q_80,w_1600/v1451498375/3G4A3942-Edit-1_mypv4c.jpg");
    }
    @media #{$large-up} {
        background-image: url("https://res.cloudinary.com/sergeynikiforov/image/upload/c_fit,q_80,w_2800/v1451498375/3G4A3942-Edit-1_mypv4c.jpg");
    }
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 100%;
    width:100%;
    height:100%;
}

.contact-image {
    @media #{$medium-up} {
        background-image: url("https://res.cloudinary.com/sergeynikiforov/image/upload/c_fit,q_80,w_2048/v1451498105/3G4A3215-Edit-2-1_l7rges.jpg");
    }
    /*
    @media #{$large-up} {
        background-image: url("https://res.cloudinary.com/sergeynikiforov/image/upload/c_fit,q_80,w_3200/v1451498105/3G4A3215-Edit-2-1_l7rges.jpg");
    }
    */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 100%;
    width:100%;
    height:100%;
}

.about-image {
    @media #{$medium-up} {
        background-image: url("https://res.cloudinary.com/sergeynikiforov/image/upload/c_fit,q_80,w_2048/v1451496375/Untitled-6-1_mfanal.jpg");
    }
    /*
    @media #{$large-up} {
        background-image: url("https://res.cloudinary.com/sergeynikiforov/image/upload/c_fit,q_80,w_3200/v1451496375/Untitled-6-1_mfanal.jpg");
    }
    */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width:100%;
    height:100%;
}

.about-image-lombok {
    @media #{$medium-up} {
        background-image: url("http://res.cloudinary.com/sergeynikiforov/image/upload/c_fit,q_80,w_2048/v1451496379/3G4A8760-Edit-3-Edit-2-1_fmxcnv.jpg");
    }
    /*
    @media #{$large-up} {
        background-image: url("http://res.cloudinary.com/sergeynikiforov/image/upload/c_fit,q_80,w_3200/v1451496379/3G4A8760-Edit-3-Edit-2-1_fmxcnv.jpg");
    }
    */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 100%;
    width:100%;
    height:100%;
}

.about-image-selfie {
    @media #{$medium-up} {
        background-image: url("https://res.cloudinary.com/sergeynikiforov/image/upload/c_fit,q_80,w_2048/v1451496379/3G4A2572-1_clnzps.jpg");
    }
    /*
    @media #{$large-up} {
        background-image: url("https://res.cloudinary.com/sergeynikiforov/image/upload/c_fit,q_80,w_3200/v1451496379/3G4A2572-1_clnzps.jpg");
    }
    */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 100%;
    width:100%;
    height:100%;
}

.about-image-road {
    @media #{$medium-up} {
        background-image: url("https://res.cloudinary.com/sergeynikiforov/image/upload/c_fit,q_80,w_2048/v1451496378/IMG_3822-1_u3dujb.jpg");
    }
    /*
    @media #{$large-up} {
        background-image: url("https://res.cloudinary.com/sergeynikiforov/image/upload/c_fit,q_80,w_3200/v1451496378/IMG_3822-1_u3dujb.jpg");
    }
    */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 100%;
    width:100%;
    height:100%;
}

.about-image-sinai-mountains {
    @media #{$medium-up} {
        background-image: url("https://res.cloudinary.com/sergeynikiforov/image/upload/c_fit,q_80,w_2048/v1451496373/IMG_3712-Edit-1_aggatn.jpg");
    }
    /*
    @media #{$large-up} {
        background-image: url("https://res.cloudinary.com/sergeynikiforov/image/upload/c_fit,q_80,w_3200/v1451496373/IMG_3712-Edit-1_aggatn.jpg");
    }
    */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 100%;
    width:100%;
    height:100%;
}

.resume-image {
    @media #{$medium-up} {
        background-image: url("https://res.cloudinary.com/sergeynikiforov/image/upload/c_fit,q_80,w_2048/v1451498984/IMG_7963-Edit-Edit-1_xl3iu1.jpg");
    }
    /*
    @media #{$large-up} {
        background-image: url("https://res.cloudinary.com/sergeynikiforov/image/upload/c_fit,q_80,w_3200/v1451498984/IMG_7963-Edit-Edit-1_xl3iu1.jpg");
    }
    */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0%;
    width:100%;
    height:100%;
}

.photography-image {
    @media #{$medium-up} {
        background-image: url("https://res.cloudinary.com/sergeynikiforov/image/upload/c_fit,q_80,w_2048/v1451496372/000078160033-1_izcafn.jpg");
    }
    /*
    @media #{$large-up} {
        background-image: url("https://res.cloudinary.com/sergeynikiforov/image/upload/c_fit,q_80,w_3200/v1451498659/3G4A0108-Edit-Edit-1_jyzumy.jpg");
    }
    */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width:100%;
    height:100%;
}

.photoset-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width:100%;
    height:100%;
}

.landing {
    @media #{$medium-only} {
        font-size: $font-size-sans-serif-nav-medium;
    }
    @media #{$small-only} {
        a{
            font-size: $font-size-sans-serif-nav-small;
            line-height: 1.3;
        }
    }
    font-size: $font-size-sans-serif-nav-large;
    font-family: $font-family-sans-serif;
    font-style: italic;
    font-weight: $font-weight-thin;
    margin-bottom: 0px;
    a {
        color: $white;
    }
    a:hover {
        color: $red;
    }

    h1 {
        font-weight: $font-weight-bold;
    }
    h2 {
        font-size: $font-size-sans-serif-nav-large;
        //padding-left: 2px;
    }
}

// home page overlay menu
.overlay {

    p{
        font-size: $font-size-sans-serif-nav-large;
        font-family: $font-family-sans-serif;
        font-weight: $font-weight-thin;
    }

    a {
        color: $white;
        &.black-color {
            color: $black;
        }
    }
    a:hover {
        color: $red;
    }
}


// overlay for medium screens
@media #{$medium-only} {
    .overlay_container {
        position: relative;
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            margin-top: 0rem;
            margin-left: rem-calc(18);
            padding: 0rem;
        }
    }
    .contact {
    padding: 0px;
    margin: 0rem 0rem 1.5rem 0rem;
    }
}

// overlay for tab-bar (small screens only)
@media #{$small-only} {
    .overlay_container {
        position: relative;
        margin-top: 0rem;
        margin-bottom: 0rem;
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            margin-top: 0.2rem;
            margin-left: rem-calc(18);
            margin-right: rem-calc(18);
        }
    }
    .contact {
    padding: 0px;
    margin: 0rem 0rem 1.5rem 0rem;
    }
}

.contact {
    margin: 0rem 0rem 1.5rem 0rem;
}

// add top-margin
.landing_wrapper {
    margin-top: 1rem;
}

// END HOME PAGE
//-----------------------------------------------------


//-----------------------------------------------------
// ABOUT ME PAGE SCSS
//-----------------------------------------------------
//

// remove default figure margin
figure {
    margin: 0px;
}

// remove margins & padding from pictures for small screens
@media #{$small-only} {
    .small_screen_figure {
        padding: 0px;
        margin: 0px;
    }
}

// remove margins & padding from pictures for medium screens
@media #{$medium-only} {
    .medium_screen_figure {
        padding: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }
}


@media #{$large-up} {
    .large_screen_figure {
        padding-left: 0px;
        padding-right: 0px;
    }
}

.about-me-section {
    margin: 2rem 0rem 5rem 0rem;
    li {
        margin-bottom: 0.7rem;
    }
    @media #{$large-up} {
        font-size: 1.5rem;//$font-size-sans-serif-page-subheader-large;
    }
    @media #{$medium-only} {
        font-size: 1.3rem;//$font-size-sans-serif-page-subheader-medium;
    }
    @media #{$small-only} {
        font-size: 1.2rem;//$font-size-sans-serif-page-subheader-small;
    }
}

// center content inside div
.container-center {
    display: table;
}
.content-center {
    display: table-cell;
    vertical-align: middle;
}
.container-center {
    display: table;
}
.content-down {
    display: table-cell;
    vertical-align: bottom;
}

.about-me-wrapper {
    padding-top: 4rem;
    padding-bottom: 1rem;
}

// END ABOUT ME
//-----------------------------------------------------


//-----------------------------------------------------
// RESUME PAGE SCSS
//-----------------------------------------------------
//

// article header custom panel (for resume subheaders)
.article_header_panel {
  @include panel(
    // Sets the panel background color. Default: $panel-pg
    $bg: white,
    // Sets the panel padding amount. Default: $panel-padding
    $padding: 2px,
    // Sets the font color based on the darkness of the bg & resets header line-heights for panels. Default: $panel-header-adjust
    $adjust:true
  );

  @media #{$small-only} {
        //margin-left: -18px;
        //margin-right: -18px;
    }
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px solid $black;
  margin-bottom: 2rem;
  margin-top: 6rem;

  header h2 {
    font-weight: $font-weight-bold;
    font-size: $font-size-custom-panel-large;
    margin: 1px;
    color: $black;
    @media #{$small-only} {
        font-size: $font-size-custom-panel-small;
    }
  }
}

#resume-summary {
    margin: 2rem auto;
}

// fonts & margins & padding for resume headers

.institution {
    div {
        h5 {
            @include anchor-transition-hover(0.3s);
            margin-top: 0rem;
            font-family: $font-family-sans-serif;
            @media #{$small-only} {
                font-size: $paragraph-font-size + 0.3rem;
            }
            @media #{$medium-up} {
                font-size: $paragraph-font-size + 0.4rem;
            }
        }
        p {
            margin-top: 0.1rem;
        }
        @media #{$medium-up} {
            margin-top: 0rem;
            margin-bottom: 1.5rem;
        }
    }
}

.online-courses {
    @include anchor-transition-hover(0.3s);
}

.achievements {
    margin-bottom: 3rem;

}

.skills {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.download {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

// job position
.position {
    @include anchor-transition-hover(0.3s);
    font-family: $font-family-sans-serif;
    font-style: italic;
    h6 {
        margin-bottom: 0px;
        font-style: italic;
        @media #{$small-up} {
            font-size: $paragraph-font-size;
        }
    }
    p {
        font-size: 1rem;
        font-size: $paragraph-font-size - 0.1rem;
    }
}

// END RESUME
//-----------------------------------------------------

//-----------------------------------------------------
// CONTACT ME PAGE SCSS
//-----------------------------------------------------
//

// custom alert for contact_me success
.my-alert-box {
    @include alert(
        $bg: $white,
        $radius: false
    );
    .close {
        @include alert-close();
      }
    &.alert-close {
        opacity: 0;
    }
    color: $green;
    font-size: $paragraph-font-size;
    border: 0px;
    margin: 0px;
    padding-top: 0.35rem;
    padding-bottom: 0.35rem;
}


// control sizes/position of headers/subheaders for the breakpoints

@media #{$small-only} {
    .page_header {
        @include anchor-transition-hover(0.3s);
        color: $white;
        font-size: $font-size-sans-serif-page-header-small;
        font-family: $font-family-sans-serif;
        font-weight: $font-weight-bold;
        line-height: $font-size-sans-serif-page-header-small;
        margin-top: -0.5rem;
        margin-bottom: 1rem;
    }
    .tab-bar .page_header {
        color: $white;
        font-size: $font-size-sans-serif-page-header-small;
        font-family: $font-family-sans-serif;
        font-weight: $font-weight-bold;
        line-height: $font-size-sans-serif-page-header-small;
        margin-top: -0.7rem;
        margin-bottom: 0rem;
        &.black-color {
            color: $black;
        }
    }
    .page_subheader {
        font-size: $font-size-sans-serif-page-subheader-small;
        font-family: $font-family-sans-serif;
        font-weight: $font-weight-bold;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

@media #{$medium-only} {
    .page_header {
        @include anchor-transition-hover(0.3s);
        color: $white;
        font-size: $font-size-sans-serif-page-header-medium;
        font-family: $font-family-sans-serif;
        font-weight: $font-weight-bold;
        line-height: $font-size-sans-serif-page-header-medium;
        margin-top: 0rem;
        margin-bottom: 0rem;
    }
    .page_subheader {
        font-size: $font-size-sans-serif-page-subheader-medium;
        font-family: $font-family-sans-serif;
        font-weight: $font-weight-bold;
        margin-top: 1.5rem;
        margin-bottom: 0.5rem;
    }
}

@media #{$large-up} {
    .page_header {
        @include anchor-transition-hover(0.3s);
        color: $white;
        font-size: $font-size-sans-serif-page-header-large;
        font-family: $font-family-sans-serif;
        font-weight: $font-weight-bold;
        line-height: $font-size-sans-serif-page-header-large;
        margin-top: 0rem;
        margin-bottom: 0rem;
    }
    .page_subheader {
        font-size: $font-size-sans-serif-page-subheader-large;
        font-family: $font-family-sans-serif;
        font-weight: $font-weight-bold;
        margin-top: 2rem;
        margin-bottom: 0.5rem;
    }
}


.contact_details {
    p {
        margin-bottom: 0.3rem;
        font-style: normal;
    }
    @include anchor-transition-hover(0.3s);
    margin-bottom: 2rem;
}

.social_networks {
    margin-bottom: 2rem;
    ul li {
        font-family: $font-family-sans-serif;
        font-weight: $font-weight-thin;
        font-style: italic;
        margin-bottom: 0.5rem;
        @media #{$small-only} {
            font-size: $font-size-sans-serif-nav-small + 0.2rem;
        }
        @media #{$medium-only} {
            font-size: $font-size-sans-serif-nav-medium  + 0.2rem;
        }
        @media #{$large-up} {
            font-size: $font-size-sans-serif-nav-large  + 0.2rem;
        }
        @include anchor-transition-hover(0.3s);
    }
}

// END CONTACT
//-----------------------------------------------------

//-----------------------------------------------------
// PHOTOGRAPHY PAGE SCSS
//-----------------------------------------------------
//

.photoset-block-grid {
    @media #{$large-up} {
        @include block-grid(
                $per-row: 2,
                $spacing: 2rem,
                $base-style: true
        );
    }
    @media #{$medium-only} {
        @include block-grid(
                $per-row: 1,
                $spacing: 2rem,
                $base-style: true
        );
    }
    @media #{$small-only} {
        @include block-grid(
                $per-row: 1,
                $spacing: 0rem,
                $base-style: true
        );
    }
}


#change-bg-on-hover {
    transition: 0.5s;
}

.photoset-description {
    margin-bottom: 3rem;
}

// photoset description padding
@media #{$small-only} {
    .photoset-description p {
        padding: 0px 18px;
    }
}

// line up photoset description and photos for large-up
@media #{$large-up} {
    .photo-large-line-up {
        padding-right: 3rem;
    }
}


// custom prev/next buttons for medium
.transparent-button-small {
    @include button(
                    $bg: false,
                    $padding: rem-calc(10)
                    );
    margin-bottom: 0px;
    @media #{$large-up} {
        font-size: $font-size-sans-serif-nav-large;
        padding: 0.3rem 0.3rem;
        margin: 0;
    }
    @media #{$medium-only} {
        font-size: $font-size-sans-serif-nav-medium;
        padding: 0.2rem 0.2rem;
        margin: 0;
    }
    @media #{$small-only} {
        font-size: $font-size-sans-serif-nav-small;
        padding: 0.1rem 0.1rem;
        margin: 0;
    }
    font-family: $font-family-sans-serif;
    font-weight: $font-weight-thin;
    font-style: italic;
    padding-left: 2px;
    padding-right: 2px;
}
.transparent-button-small.prev {
    margin-right: 3rem;
}

// max height of an image on a single photo page
#photo-wrapper {
    opacity: 0.0;
    transition: 0.3s;
    &.is-visible {
        opacity: 1.0;
    }
    @media #{$large-up} {
        padding-top: 2rem;
        figure{
            @include viewport-unit(max-height, 84vh);
            min-height: 500px;
            img {
                @include viewport-unit(max-height, 84vh);
                min-height: 500px;
                padding-bottom: 3rem;
            }
        }
    }
    @media #{$medium-only} {
        @media #{$portrait} {
            padding-top: 2rem;
            figure{
                @include viewport-unit(height, 55vh);
                min-height: 400px;
                img {
                    @include viewport-unit(max-height, 55vh);
                    min-height: 400px;
                }
            }
        }
    }
    @media #{$medium-only} {
        @media #{$landscape} {
            padding-top: 2rem;
            figure{
                @include viewport-unit(max-height, 50vh);
                min-height: 400px;
                img {
                    @include viewport-unit(max-height, 50vh);
                    min-height: 400px;
                }
            }
        }
    }
     @media #{$small-only} {
        padding-top: 2rem;
        margin-top: 1rem;
        @media #{$portrait} {
            figure{
                @include viewport-unit(height, 55vh);
                //min-height: 470px;
                img {
                    @include viewport-unit(max-height, 55vh);
                    //min-height: 470px;
                }
            }
        }
        @media #{$landscape} {
            figure{
                @include viewport-unit(max-height, 100vh);
                //min-height: 470px;
                img {
                    @include viewport-unit(max-height, 100vh);
                    //min-height: 470px;
                }
            }
        }
    }
}

// photo info on a single photo page
#photo-info-wrapper {
    @media #{$large-up} {
        @include viewport-unit(height, 84vh);
        padding-top: 2rem;
        padding-right: 2rem;
    }
    @media #{$medium-only} {
        margin-top: 1rem;
    }
    @media #{$small-only} {
        margin-top: 1rem;
    }
    @include anchor-transition-hover(0.3s);
}

// photo info styling
.image-order, .image-year {
    font-family: $font-family-sans-serif;
    font-weight: $font-weight-thin;
    font-style: italic;
    @media #{$large-up} {
        font-size: $font-size-sans-serif-nav-large;
        margin-top: 2rem;
    }
    @media #{$medium-only} {
        font-size: $font-size-sans-serif-nav-medium;
        padding-top: 0.2rem;
    }
    @media #{$small-only} {
        font-size: $font-size-sans-serif-nav-small;
        padding-top: 0.4rem;
    }
}

.image-description {
    border-top: 0px solid $black;
    color: $black;
}

.image-title {
    font-weight: $font-weight-bold;
    @media #{$large-up} {
        font-size: $font-size-sans-serif-page-subheader-medium  - 0.5rem;
    }
    @media #{$medium-only} {
        font-size: $font-size-sans-serif-page-subheader-medium - 0.5rem;
    }
    @media #{$small-only} {
        font-size: $font-size-sans-serif-page-subheader-small - 0.2rem;
    }
    margin-bottom: 0.3rem;
}

.image-title-thumb {
    font-weight: $font-weight-thin;
    @media #{$large-up} {
        font-size: $font-size-sans-serif-nav-large;
    }
    @media #{$medium-only} {
        font-size: $font-size-sans-serif-nav-medium;
    }
    @media #{$small-only} {
        font-size: $font-size-sans-serif-nav-small;
    }
    margin-bottom: 0.3rem;
}

// photoset page
#album-wrapper {
    padding: 5rem 0rem;
    @include anchor-transition-hover(0.3s);
}


.album-title {
    font-weight: $font-weight-bold;
    @media #{$large-up} {
        font-size: $font-size-sans-serif-page-subheader-large;
    }
    @media #{$medium-only} {
        font-size: $font-size-sans-serif-page-subheader-medium;
    }
    @media #{$small-only} {
        font-size: $font-size-sans-serif-page-subheader-small;
    }
    margin-bottom: 0.5rem;
}

.album-description {
    padding-top: 0.8rem;
    //border-top: 1px solid $black;
    /*
    @media #{$large-up} {
        font-size: 1.1rem;//$font-size-sans-serif-page-subheader-large;
    }
    @media #{$medium-only} {
        font-size: 1rem;//$font-size-sans-serif-page-subheader-medium;
    }
    @media #{$small-only} {
        font-size: 1rem;//$font-size-sans-serif-page-subheader-small;
    }*/
}


// picture thumbnail number for photoset view
.image-number {
    font-family: $font-family-sans-serif;
    font-weight: $font-weight-bold;
    margin-right: -0.7rem;
    @media #{$large-up} {
        font-size: $font-size-sans-serif-page-header-large;
    }
    @media #{$medium-only} {
        font-size: $font-size-sans-serif-page-header-medium;
    }
    @media #{$small-only} {
        font-size: $font-size-sans-serif-page-header-small;
    }
}

// image captions wrapper for photoset view
.image-captions {
    @include anchor-transition-hover(0.3s);
    @media #{$small-only} {
        margin-left: rem-calc(18);
        margin-top: 0.5rem;
    }
    @media #{$medium-only} {
        margin-left: rem-calc(18);
        margin-top: 0.3rem;
    }
    @media #{$large-up} {
        //margin-left: 0.9rem;
        margin-top: 1rem;
    }
}

.photo-error-msg {
    font-family: $font-family-sans-serif;
    font-weight: $font-weight-thin;
    @media #{$large-up} {
        font-size: $font-size-sans-serif-page-subheader-large;
    }
    @media #{$medium-only} {
        font-size: $font-size-sans-serif-page-subheader-medium;
    }
    @media #{$small-only} {
        font-size: $font-size-sans-serif-page-subheader-small;
    }
}

#nav-wrapper {
    margin-top: 3rem;
}

// sticky sidebar for photoset page
.fixed-sidebar {
    position: fixed;
    top: 0;
    z-index: 0;
    transition: 0.5s;
}

#sidebar-wrapper {
    padding-top: 5rem;
    padding-bottom: 0rem;
    @include anchor-transition-hover(0.3s);
    font-family: $font-family-sans-serif;
}

.album-title-sidebar {
    @extend .album-title;
}

.num-photos-sidebar{
    @extend .image-title-thumb;
}

.photoset-links-sidebar {
    margin-top: 2rem;
    font-weight: $font-weight-thin;
    font-style: italic;
    @media #{$large-up} {
        p {
            font-size: $font-size-sans-serif-page-subheader-medium - 0.3rem;
        }
    }
}


#thumbs-wrapper {
    /*
    @media #{$xlarge-up} {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
    */
}

#thumbs {
    //background: black;
    @media #{$small-only} {
        padding: 5rem 0rem 1rem 0rem;
    }
    @media #{$medium-up} {
        //padding: $block-grid-default-spacing;
        padding-top: 9rem;
    }
}

.one-thumb {
    figure {
        img {
            @media #{$small-only} {
                @include viewport-unit(max-height, 100vh);
            }
            @media #{$medium-only} {
                @include viewport-unit(max-height, 100vh);
            }
            @media #{$large-up} {
                @include viewport-unit(max-height, 80vh);
            }
        }
    }

    @media #{$small-only} {
        margin-bottom: 5rem;
    }
    @media #{$medium-only} {
        margin-bottom: 5rem;
    }
    @media #{$large-up} {
        margin-bottom: 5rem;
    }

}



// styling of "More Albums" section
.more-albums-start {
    border-top: 1px solid $black;
    padding-top: 2rem;
}

.more-albums-thumb {
    margin-bottom: 1rem;
    @include anchor-transition-hover(0.3s);
}

#more-albums-wrapper {
    //margin: 1rem auto 1rem auto;
}

.more-albums-title {
    font-family: $font-family-sans-serif;
    font-weight: $font-weight-thin;
    font-style: italic;
    border-top: 1px solid $black;
    @media #{$large-up} {
        font-size: $font-size-sans-serif-nav-large;
        margin-top: 1.3rem;
        padding-top: rem-calc(1.3/0.3);
    }
    @media #{$medium-only} {
        font-size: $font-size-sans-serif-nav-medium;
        margin-top: 1.1rem;
        padding-top: rem-calc(1.1/0.3);
    }
    @media #{$small-only} {
        font-size: $font-size-sans-serif-nav-small;
        margin-top: 0.7rem;
        padding-top: rem-calc(0.7/0.3);
    }
}

// custom block grid settings for "More Albums" section
.more-albums-block-grid {
    @media #{$large-up} {
        @include block-grid(
                $per-row: 3,
                $spacing: 6rem,
                $base-style: true
        );
    }
    @media #{$medium-only} {
        @include block-grid(
                $per-row: 3,
                $spacing: 3rem,
                $base-style: true
        );
    }
    @media #{$small-only} {
        @include block-grid(
                $per-row: 2,
                $spacing: 2rem,
                $base-style: true
        );
    }
}

// photoset thumbs for 'photography' page
.photoset-info {
    @media #{$large-up} {
        padding-top: 11rem;
        margin-bottom: 1rem;
    }
    @media #{$medium-only} {
        padding-top: 9rem;
        margin-bottom: 1rem;
    }
    @media #{$small-only} {
        margin-top: 5rem;
    }
}

.photoset-thumb-title {
    @include anchor-transition-hover(0.3s);
    font-family: $font-family-sans-serif;
    font-weight: $font-weight-bold;
    @media #{$large-up} {
        font-size: $font-size-sans-serif-page-subheader-large;
    }
    @media #{$medium-only} {
        font-size: $font-size-sans-serif-page-subheader-medium;
    }
    @media #{$small-only} {
        font-size: $font-size-sans-serif-page-subheader-small;
    }
}

.photoset-thumb-description {
    //border-top: 1px solid $black;
    padding-top: 1rem;
}

.black-color {
    color: $black;
    ul li h1 a, div ul li a {
        color: $black !important;
        &:hover {
            color: $red !important;
        }
    }
    h2 {
        color: $black !important;
    }
    a {
        color: $black;
        &:hover {
            color: $red;
        }
    }

}

// END PHOTOGRAPHY
//-----------------------------------------------------

//-----------------------------------------------------
// STICKY SIDEBAR SCSS
//-----------------------------------------------------
//

// move sidebar farer from main content
.sticky-sidebar {

    font-family: $font-family-sans-serif;
    font-weight: $font-weight-thin;
    font-style: italic;
    margin-top: 7rem;
    margin-right: 1.5rem;
    p {
        margin-bottom: 1.2rem;
        font-size: $font-size-sans-serif-nav-large;
    }
    #sticky-sidebar-label {
        font-weight: $font-weight-bold;
        margin-bottom: 1.7rem;
        a {
            border-bottom: 1px solid $black;
            padding-bottom: 3px;
        }
    }
}



// END STICKY SIDEBAR
//-----------------------------------------------------

//-----------------------------------------------------
// ANIMATIONS
//-----------------------------------------------------

// link on hover animation
.cl-effect-1 a::before,
.cl-effect-1 a::after {
    display: inline-block;
    opacity: 0;
    transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
    margin-right: 3px;
    content: '/';
    transform: translateX(20px);
}

.cl-effect-1 a::after {
    margin-left: 3px;
    content: '/';
    transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
    opacity: 1;
    transform: translateX(0px);
}

.fade-in {
    transition: all 0.3s ease;
    &:hover {
        opacity: 0.9;
    }
}

/* Preloader */

#preloader {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1000;
}

#mobile-preloader {
    @media #{$small-only} {
        position:fixed;
        top: 0;
        left:0;
        right: 0;
        bottom: 0;
        background-color: #fff;
        z-index: 1000;
        /*
        .cssload-container {
            width: 100%;
            height: 106px;
            text-align: center;
        }
        .cssload-tube-tunnel {
            width: 106px;
            height: 106px;
            margin: 0 auto;
            border: 9px solid;
            border-radius: 50%;
            border-color: rgb(0,0,0);
            animation: cssload-scale 1305ms infinite linear;
        }
        @keyframes cssload-scale {
            0% { transform: scale(0); transform: scale(0); }
            90% { transform: scale(0.7); transform: scale(0.7); }
            100% { transform: scale(1); transform: scale(1); }
        }
        .cssload-loader {
                width: 106px;
                height: 106px;
                border-radius: 50%;
                margin: 6em;
                display: inline-block;
                position: relative;
                vertical-align: middle;
            background:rgba(33,28,25,0.94);
        }
        .cssload-loader,
        .cssload-loader:before,
        .cssload-loader:after {
                animation: 2.2s infinite ease-in-out;
        }
        .cssload-loader:before,
        .cssload-loader:after {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                position: absolute;
                top: 0;
                left: 0;
        }
        .cssload-loader { animation-name: cssload-loader; }
        @keyframes cssload-loader {
                from { transform: scale(0); opacity: 1; }
                to   { transform: scale(1); opacity: 0; }
        }
        #status {
            //width:100vw;
            //height:100vh;
            position:absolute;
            left:50%;
            top:50%;
            margin:-53px 0 0 -53px;
        }
        */
    }
}

.page-onload {
    transition: 0.5s;
    transform: translate(0, -10px);
}

#top-bar-wrapper {
    opacity: 0.0;
}

// END AINMATONS
//------------------------------------------------------


// no text size increase when orientation changes
html, body {
    -webkit-text-size-adjust: 100%;
}

.browserupgrade {
    margin: 2rem;
    background: #ccc;
    color: black;
    padding: 1rem;
    font-family: sans-serif;
}
