@import 'foundation/settings';
@import 'foundation';

// mixin to address iOS 7 issue with vh, vmin
//
@mixin viewport-unit($property, $value) {
  #{$property}: $value;

  $unit: unit($value);

  @if (index((vw, vh, vmin, vmax), $unit) != null) {
    $devices: (
      (768px, 1024px), // iPad (all versions)
      (320px, 480px),  // iPhone 4
      (320px, 568px)   // iPhone 5, 5C, 5S
    );

    @each $device in $devices {
      $device-width: nth($device, 1);
      $device-height: nth($device, 2);

      $device-query: "only screen and (-webkit-min-device-pixel-ratio: 1)";
      $device-query: "#{$device-query} and (device-width: #{$device-width})";
      $device-query: "#{$device-query} and (device-height: #{$device-height})";

      $percent: $value / ($value * 0 + 1); // see https://github.com/sass/sass/issues/533

      $percent-width: $device-width * $percent / 100;
      $percent-height: $device-height * $percent / 100;

      @if ($unit == vmin or $unit == vmax) {
        @media #{$device-query} {
          #{$property}: if($unit == vmin, $percent-width, $percent-height);
        }
      }
      @else {
        @media #{$device-query} and (orientation: portrait) {
          #{$property}: if($unit == vw, $percent-width, $percent-height);
        }

        @media #{$device-query} and (orientation: landscape) {
          #{$property}: if($unit == vw, $percent-height, $percent-width);
        }
      }
    }
  }
}

$font-weight-thin: 300;
$font-size-sans-serif-nav: 1.1rem;
$font-size-serif-page-header: 3rem;
$font-size-custom-panel: 2rem;


.vh-style {
    @media #{$small-up} {
        @include viewport-unit(height, 100vh);
        figure{
            @include viewport-unit(height, 100vh);
            img {
            @include viewport-unit(max-height, 100vh);
            }
        }
    }

}


//-----------------------------------------------------
// FOOTER SCSS
//-----------------------------------------------------

// center list with social links in footer
footer {
    font-family: $font-family-sans-serif;
    font-weight: $font-weight-thin;

    ul {
        list-style-type:none;
        text-align: center;
    }

    li {
        display: inline-block;
        margin-right: 1rem;


        // style links
        a {
            font-size: $font-size-sans-serif-nav - 0.1rem;
            font-style: normal;

            color: $black;
        }
        a:hover {
            color: $red;
        }
    }
}

// remove padding & margin for small screens
@media #{$small-only} {
    #sticky_footer {
        section {
            padding: 0px;
            margin: 0px;
            figure {
                padding: 0px;
                margin: 0px;
            }
        }
    }
}



// END FOOTER
//-----------------------------------------------------

//-----------------------------------------------------
// TOP-BAR NAV SCSS
//-----------------------------------------------------
//

// transparency

.fixed, .top-bar, .top-bar-section ul, .top-bar-section ul li, .top-bar-section li:not(.has-form) a:not(.button), .top-bar-section .dropdown li a, .top-bar-section .dropdown li:not(.has-form) a:not(.button), .top-bar-section li:not(.has-form) a:not(.button):hover, .toggle-topbar, .tab-bar, .left .tab-bar-section, .right-off-canvas-toggle {
    background:transparent !important;
}

@media #{$medium-only} {
    #navigation-bar {
        margin-top: 1rem;
    }
    #navigation-bar-photo {
        margin-top: 1rem;
    }
}

@media #{$large-up} {
    #navigation-bar {
        margin-top: 3rem;
    }
    #navigation-bar-photo {
        margin-top: 1rem;
    }
}

#navigation-bar.top-bar {
    .expanded .top-bar-section ul.right.text-right {
    padding-top: 1rem;
    }
}

.top-bar .top-bar-section ul.dropdown {
    padding-top: 1.5rem;
    li a {
        @media #{$medium-only} {
            //font-size: $font-size-sans-serif-nav + 0rem;
        }
        font-family: $font-family-sans-serif;
        font-weight: $font-weight-thin;
        margin: 0.5rem 0rem;
    }
}

.top-bar .title-area {

    h1 > a {
        color: $white;
        margin: 0px;
        padding: 0px;
        font-weight: $font-weight-bold;
        font-family: $font-family-sans-serif;
        font-size: $font-size-sans-serif-nav;
        @media #{$medium-only} {
            font-size: $font-size-sans-serif-nav - 0.2rem;
        }
        &.black-color {
            color: $black;
            &:hover {
                color: $red;
            }
        }
    }
    h2, p > a {
        color: $white;
    }
    a:hover {
        color: $red;
    }
    .toggle-topbar a {
        color: $white;
        font-family: $font-family-sans-serif;
        font-weight: $font-weight-thin;
        font-style: italic;
        font-size: $font-size-sans-serif-nav;
        @media #{$medium-only} {
            font-size: $font-size-sans-serif-nav - 0.2rem;
        }
        &:hover {
            color: $red;
        }
    }
}



.top-bar .top-bar-section .right {
    li a {
        padding-right: 0.7rem;
        color: $white;
        margin-right: 0.4rem;
        margin-left: 0.4rem;
        //margin: auto;
        font-family: $font-family-sans-serif;
        font-size: $font-size-sans-serif-nav;
        font-weight: $font-weight-thin;
        font-style: italic;
        @media #{$medium-only} {
            font-size: $font-size-sans-serif-nav - 0.2rem;
        }
    }
    li.black-color {
       a {
            color: $black;
            &:hover {
                color: $red;
            }
        }
        .dropdown li > a {
            color: $black;
        }
    }
}

// END TOP-BAR
//-----------------------------------------------------

// OFFCANVAS NAV SCSS
//-----------------------------------------------------
//

// tab-bar
.tab-bar {
    .tab-bar-section {
        padding: 0px;
        h2 {
            padding: 1px 0px 0px 0px;
        }
    }
    h2 > a {
        margin: 0px;
        padding: 0px;
        font-weight: $font-weight-bold;
        font-size: $font-size-sans-serif-nav;
        @media #{$small-only} {
            font-size: $font-size-sans-serif-nav - 0.3rem;
        }
    }
    .right {
        a {
            font-weight: $font-weight-thin;
            font-style: italic;
            @media #{$medium-up} {
                padding-right: 0;
                padding-left: 0;
            }
            padding-right: 7px;
            padding-left: 7px;
            padding-top: 17px;
        }
    }
    a {
        font-size: $font-size-sans-serif-nav;
        @media #{$small-only} {
            font-size: $font-size-sans-serif-nav - 0.3rem;
        }
    }
    a:hover {
        color: $red;
    }
}

// offset menu
.right-off-canvas-menu {

    .off-canvas-list {
        font-family: $font-family-sans-serif;
        margin: 0rem 0.7rem;

        label {
            padding-top: 0.7rem;
            padding-left: 0.85rem;
            padding-bottom: 0.8rem;
            font-size: $font-size-sans-serif-nav;
        }

        a {
            margin: 0rem 0.7rem;
            padding-left: 0.2rem;
            padding-right: 0.2rem;
            font-size: $font-size-sans-serif-nav - 0.1rem;
            font-weight: $font-weight-thin;
            font-style: italic;
        }
    }
}

// offcanvas menu section labels
#off-canvas-extra-label {
    margin-top: 2.2rem;
}

// END OFFCANVAS NAV
//-----------------------------------------------------


//-----------------------------------------------------
// HOME PAGE SCSS
//-----------------------------------------------------
//


#home-nav {
    margin-top: 2rem;
}

#hero-nav {
    margin-top: 2.1rem;
    p {
        font-weight: $font-weight-thin;
    }
}

#photoset-nav {
    margin-top: 5.5rem;
    @media #{$medium-only} {
        margin-top: 4.7rem;
    }
    p {
        font-weight: $font-weight-thin;
    }
}

.home-wrapper {
    height: 100vh;
    width: 100%;
    padding: 1.5rem;
    @media #{$medium-only} {
        padding: 2rem 1.5rem 6rem 1.5rem;
    }
}

.contact-wrapper {
    height: 100vh;
    width: 100%;
    @media #{$large-up} {
        padding: 1.5rem;
    }
    @media #{$medium-only} {
        padding: 2rem 0rem 6rem 0rem;
    }
}

.about-wrapper {
    height: 100vh;
    width: 100%;
    @media #{$large-up} {
        padding: 1.5rem;
    }
    @media #{$medium-only} {
        padding: 2rem 0rem 6rem 0rem;
    }
}

.resume-wrapper {
    height: 100vh;
    width: 100%;
    @media #{$large-up} {
        padding: 1.5rem;
    }
    @media #{$medium-only} {
        padding: 2rem 0rem 6rem 0rem;
    }
}

.photography-wrapper {
    height: 100vh;
    width: 100%;
    @media #{$large-up} {
        padding: 1.5rem;
    }
    @media #{$medium-only} {
        padding: 2rem 0rem 6rem 0rem;
    }
}

.photoset-wrapper {
    height: 100vh;
    width: 100%;
    @media #{$large-up} {
        padding: 1.5rem;
    }
    @media #{$medium-only} {
        padding: 2rem 0rem 6rem 0rem;
    }
}

.image-wrap {
    height: 100%;
    width: 100%;
}

.home-image {
    background-image: url("https://res.cloudinary.com/sergeynikiforov/image/upload/c_fill,w_1600/v1443435200/landing/3G4A3942-Edit.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 100%;
    width:100%;
    height:100%;
}

.contact-image {
    background-image: url("https://res.cloudinary.com/sergeynikiforov/image/upload/c_fill,w_1600/v1444666885/contact/mail3x2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 100%;
    width:100%;
    height:100%;
}

.about-image {
    background-image: url("https://res.cloudinary.com/sergeynikiforov/image/upload/v1449071680/000078160033_shjhht.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 100%;
    width:100%;
    height:100%;
}

.about-image-lombok {
    background-image: url("/static/sn_app/images/melombok.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 100%;
    width:100%;
    height:100%;
}

.about-image-selfie {
    background-image: url("/static/sn_app/images/selfie.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 100%;
    width:100%;
    height:100%;
}

.about-image-road {
    background-image: url("/static/sn_app/images/road.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 100%;
    width:100%;
    height:100%;
}

.about-image-onarun {
    background-image: url("/static/sn_app/images/onarun.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 100%;
    width:100%;
    height:100%;
}

.resume-image {
    background-image: url("/static/sn_app/images/ladefense.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 100%;
    width:100%;
    height:100%;
}

.photography-image {
    background-image: url("https://res.cloudinary.com/sergeynikiforov/image/upload/v1449663321/photography_xddfkp.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width:100%;
    height:100%;
}

.photoset-image {
    //background-image: url("https://res.cloudinary.com/sergeynikiforov/image/upload/v1449663321/photography_xddfkp.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width:100%;
    height:100%;
}

.landing {
    @media #{$medium-only} {
        font-size: $font-size-sans-serif-nav;
    }
    @media #{$small-only} {
        a{
            font-size: $font-size-sans-serif-nav - 0.1rem;
            line-height: 1.3;
        }
    }
    font-size: $font-size-sans-serif-nav + 0.3rem;
    font-family: $font-family-sans-serif;
    font-style: italic;
    font-weight: $font-weight-thin;
    margin-bottom: 0px;
    a {
        color: $white;
    }
    a:hover {
        color: $red;
    }

    h1 {
        font-weight: $font-weight-bold;
    }
    h2 {
        font-size: $font-size-sans-serif-nav;
        //padding-left: 2px;
    }
}

// home page overlay menu
.overlay {

    p{
        font-size: $font-size-sans-serif-nav;
        font-family: $font-family-sans-serif;
        font-weight: $font-weight-thin;
    }

    a {
        color: $white;
        &.black-color {
            color: $black;
        }
    }
    a:hover {
        color: $red;
    }
}


// overlay for medium screens
@media #{$medium-only} {
    .overlay_container {
        position: relative;
        //margin-top: 2rem;
        //margin-bottom: 2rem;
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            margin-top: 0rem;
            margin-left: rem-calc(18);
            padding: 0rem;
            //margin-right: 18px;
        }
    }
    .contact {
    padding: 0px;
    margin: 0rem 0rem 1.5rem 0rem;
    }
}

// overlay for tab-bar (small screens only)
@media #{$small-only} {
    .overlay_container {
        position: relative;
        margin-top: 0rem;
        margin-bottom: 0rem;
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            margin-top: 0.5rem;
            margin-left: rem-calc(18);
            margin-right: rem-calc(18);
        }
    }
    .contact {
    padding: 0px;
    margin: 0rem 0rem 1.5rem 0rem;
    }
}

.contact {
    margin: 0rem 0rem 1.5rem 0rem;
}

// add top-margin
.landing_wrapper {
    margin-top: 1rem;
}

// END HOME PAGE
//-----------------------------------------------------


//-----------------------------------------------------
// ABOUT ME PAGE SCSS
//-----------------------------------------------------
//

// remove default figure margin
figure {
    margin: 0px;
}

// remove margins & padding from pictures for small screens
@media #{$small-only} {
    .small_screen_figure {
        padding: 0px;
        margin: 0px;
    }
}

// remove margins & padding from pictures for medium screens
@media #{$medium-only} {
    .medium_screen_figure {
        padding: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media #{$large-up} {
    .large_screen_figure {
        padding-left: 0px;
    }
}

.spiel {
    margin: 4rem 0rem 5rem 0rem;
}

// center content inside div
.container-center {
    display: table;
}
.content-center {
    display: table-cell;
    vertical-align: middle;
}

.container-down {
    //display: table;
}
.content-down {
    //display: table-cell;
    vertical-align: bottom;
}

// END ABOUT ME
//-----------------------------------------------------


//-----------------------------------------------------
// RESUME PAGE SCSS
//-----------------------------------------------------
//

// article header custom panel (for resume subheaders)
.article_header_panel {
  @include panel(
    // Sets the panel background color. Default: $panel-pg
    $bg: $black,
    // Sets the panel padding amount. Default: $panel-padding
    $padding: 2px,
    // Sets the font color based on the darkness of the bg & resets header line-heights for panels. Default: $panel-header-adjust
    $adjust:true
  );

  @media #{$small-only} {
        margin-left: -18px;
        margin-right: -18px;
    }

  border: 0px;
  margin-bottom: 1rem;
  margin-top: 6rem;

  header h2 {
    font-weight: $font-weight-thin - 100;
    font-size: $font-size-custom-panel;
    margin: 1px;
    @media #{$small-only} {
        font-size: $font-size-custom-panel - 0.5rem;
    }
  }
}

// fonts & margins & padding for resume headers

.institution {
    div {
        h5 {
            margin-top: 0rem;
            font-family: $font-family-sans-serif;
            @media #{$medium-up} {
                font-size: $paragraph-font-size + 0.4rem;
            }
        }
        p {
            margin-top: 0.1rem;
        }
        @media #{$medium-up} {
            margin-top: 0rem;
            margin-bottom: 1.5rem;
        }
    }
}

.achievements {
    margin-bottom: 3rem;

}

.skills {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.download {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

// job position
.position {
    font-family: $font-family-sans-serif;
    font-style: italic;

    //font-size: $paragraph-font-size;
    h6 {
        font-style: italic;
        margin-bottom: 0px;
        //font-size: $paragraph-font-size;
        font-weight: 700;
        @media #{$medium-up} {
            font-size: $paragraph-font-size - 0.1rem;
        }
    }
    p {
        font-size: 1rem;
        @media #{$medium-up} {
            font-size: $paragraph-font-size - 0.1rem;
        }
    }
}

// END RESUME
//-----------------------------------------------------

//-----------------------------------------------------
// CONTACT ME PAGE SCSS
//-----------------------------------------------------
//

// custom alert for contact_me success
.my-alert-box {
    @include alert(
        $bg: $white,
        $radius: false
    );
    .close {
        @include alert-close();
      }
    &.alert-close {
        opacity: 0;
    }
    color: $green;
    font-size: $paragraph-font-size;
    border: 0px;
    margin: 0px;
    padding-top: 0.35rem;
    padding-bottom: 0.35rem;
}


// control sizes/position of headers/subheaders for the breakpoints

.page_header_wrapper_large {
    padding: 0px;
}

@media #{$small-only} {
    .page_header {
        color: $white;
        font-size: $font-size-serif-page-header - 1.3rem;
        font-family: $font-family-sans-serif;
        font-weight: $font-weight-bold;
        line-height: 0.9;
        margin-top: -0.5rem;
        margin-bottom: 1rem;
    }
    .tab-bar .page_header {
        color: $white;
        font-size: $font-size-serif-page-header - 1.3rem;
        font-family: $font-family-sans-serif;
        font-weight: $font-weight-bold;
        line-height: 0.9;
        margin-top: -0.9rem;
        margin-bottom: 0rem;
        &.black-color {
            color: $black;
        }
    }
    .page_subheader {
        font-size: $font-size-serif-page-header - 1.1rem;
        font-family: $font-family-sans-serif;
        font-weight: $font-weight-bold;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

@media #{$medium-only} {
    .page_header {
        color: $white;
        font-size: $font-size-serif-page-header - 0.5rem;
        font-family: $font-family-sans-serif;
        font-weight: $font-weight-bold;
        line-height: 1;
        margin-top: 0rem;
        margin-bottom: 0rem;
    }
    .page_subheader {
        font-size: $font-size-serif-page-header - 1rem;
        font-family: $font-family-sans-serif;
        font-weight: $font-weight-bold;
        margin-top: 1.5rem;
        margin-bottom: 0.5rem;
    }
}

@media #{$large-up} {
    .page_header {
        color: $white;
        font-size: $font-size-serif-page-header;
        font-family: $font-family-sans-serif;
        font-weight: $font-weight-bold;
        line-height: 1;
        margin-top: 0rem;
        margin-bottom: 0rem;
    }
    .page_subheader {
        font-size: $font-size-serif-page-header - 0.9rem;
        font-family: $font-family-sans-serif;
        font-weight: $font-weight-bold;
        margin-top: 2rem;
        margin-bottom: 0.5rem;
    }
}


.contact_details {
    p {
        margin-bottom: 5px;
    }
    margin-bottom: 20px;
}

// END RESUME
//-----------------------------------------------------

//-----------------------------------------------------
// PHOTOGRAPHY PAGE SCSS
//-----------------------------------------------------
//

// drop caps for description
/*
.photoset-description {
    p:first-child:first-letter {
        float: left;
        //color: $red;
        font-size: 3.5rem;
        line-height: 2.8rem;
        padding-top: 4px;
        padding-right: 8px;
        padding-left: 3px;
        padding-bottom: 0px;
    }
}
*/

#change-bg-on-hover {
    transition: 0.5s;
}

.photoset-description {
    margin-bottom: 3rem;
}

// photoset description padding
@media #{$small-only} {
    .photoset-description p {
        padding: 0px 18px;
    }
}

// line up photoset description and photos for large-up
@media #{$large-up} {
    .photo-large-line-up {
        padding-right: 3rem;
    }
}


// custom prev/next buttons for medium
.transparent-button-small {
    @include button(
                    $bg: false,
                    $padding: rem-calc(10)
                    );
    margin-bottom: 0px;
    font-size: $font-size-sans-serif-nav;
    @media #{$large-up} {
        font-size: $font-size-sans-serif-nav;
        padding: 0.1rem 0.1rem;
        margin: 0;
    }
    font-family: $font-family-sans-serif;
    font-weight: $font-weight-thin;
    font-style: italic;
    padding-left: 2px;
    padding-right: 2px;
}
.transparent-button-small.prev {
    margin-right: 3rem;
}


// max height of an image on a single photo page
#photo-wrapper {
    @media #{$large-up} {
        padding-top: 2rem;
        figure{
            @include viewport-unit(max-height, 84vh);
            min-height: 470px;
            img {
                @include viewport-unit(max-height, 84vh);
                min-height: 470px;
                padding-bottom: 3rem;
            }
        }
    }
    @media #{$medium-only} {
        @media #{$portrait} {
            padding-top: 2rem;
            figure{
                @include viewport-unit(height, 55vh);
                min-height: 400px;
                img {
                    @include viewport-unit(max-height, 55vh);
                    min-height: 400px;
                }
            }
        }
    }
    @media #{$medium-only} {
        @media #{$landscape} {
            padding-top: 2rem;
            figure{
                @include viewport-unit(max-height, 50vh);
                min-height: 400px;
                img {
                    @include viewport-unit(max-height, 50vh);
                    min-height: 400px;
                }
            }
        }
    }
     @media #{$small-only} {
        padding-top: 2rem;
        figure{
            @include viewport-unit(max-height, 100vh);
            //min-height: 470px;
            img {
                @include viewport-unit(max-height, 100vh);
                //min-height: 470px;
            }
        }
    }
}

// photo credentials on a single photo page
#photo-info-wrapper {
    @media #{$large-up} {
        @include viewport-unit(height, 84vh);
        padding-top: 2rem;
    }
}

#nav-wrapper {
    margin-top: 3rem;
}


// animation 0.1=)
.row.photoset-cover {
    padding-bottom: 30px;

    &:hover {

        outline: solid 1px $black;
        img {
            transition:all 0.3s ease;
            transform: scale(0.97);
        }
    }
    img {
        transition:all 0.3s ease;
    }
}

// make room for thumbs on small screens
.photoset-thumbnail {
    //margin: 9rem 0rem;
    @media #{$small-only} {
        margin: 5rem 0rem;
    }
}

.thumbs-wrapper {
    @media #{$xlarge-up} {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
}

.thumbs {
    background: black;
    @media #{$small-only} {
        padding: 5rem 0.5rem 5rem 0.5rem;
    }
    @media #{$medium-up} {
        padding: $block-grid-default-spacing;
        padding-top: 5rem;
    }
}

.one-thumb {
    @media #{$small-only} {
        margin-bottom: 0rem;
    }
    @media #{$medium-only} {
        margin-bottom: 8rem;
    }
}


.photo-captions {
    h6 {
        color: $white;
        font-style: normal;
        font-family: $font-family-sans-serif;
        font-weight: $font-weight-bold;
        font-size: 1.2rem;
        margin-top: 0.5rem;
        margin-bottom: 0rem;
    }
    p {
        color: $white;
        font-style: italic;
        font-family: $font-family-sans-serif;
        font-weight: $font-weight-thin;
        font-size: 1rem;
        margin-top: 0rem;
        padding-top: 0rem;
        margin-bottom: 7.5rem;
    }
}

.photoset-thumbs-block-grid {
    @include block-grid(
            $per-row: 2,
            $spacing: 5rem,
            $base-style: true
    );
}

.black-color {
    color: $black;
    h2 {
        color: $black;
    }
    a {
        color: $black;
        &:hover {
            color: $red;
        }
    }

}

// END PHOTOGRAPHY
//-----------------------------------------------------

//-----------------------------------------------------
// STICKY SIDEBAR SCSS
//-----------------------------------------------------
//

// move sidebar farer from main content
.sticky-sidebar {

    font-family: $font-family-sans-serif;
    font-weight: $font-weight-thin;
    font-style: italic;
    margin-top: 7rem;
    margin-right: 1.5rem;
    p {
        margin-bottom: 1.2rem;
        font-size: $font-size-sans-serif-nav;
    }
    #sticky-sidebar-label {
        font-weight: $font-weight-bold;
        margin-bottom: 1.7rem;
        a {
            border-bottom: 1px solid $black;
            padding-bottom: 3px;
        }
    }
}



// END STICKY SIDEBAR
//-----------------------------------------------------

// no text size increase when orientation changes
html, body {
    -webkit-text-size-adjust: 100%;
}
