{% extends "sn_app/base.html" %}
{% load sn_app_extras %}
{% load staticfiles %}
{% block title %}About{% endblock title %}
{% block body %}
<div class="row">
    <article class="small-12 medium-10 large-8 small-centered columns">
        <div class="row">
            <div class="small-12 columns">
                <header>
                    <h2 class="page_header">ABOUT ME</h2>
                </header>
            </div>
        </div>
        <div class="row">
            <section class="small-12 medium-8 medium-offset-4 columns">
                <ul class="no-bullet">
                    <li>Hello! I'm Sergey.</li>
                    <li>I like things that work flawlessly and look beautiful.</li>
                    <li>I like to build such things.</li>
                    <li>I like to contribute to the projects that have meaning and stand out.</li>
                    <li>I like to teach and learn.</li>
                    <li>I'm one of those who unites people into groups rather than divides them into ones.</li>
                    <li>I like to make this world a better place.</li>
                </ul>
            </section>
            <section class="small-12 columns small_screen_figure">
                <figure>
                    <img src="{% static 'sn_app/images/melombok.jpg' %}" alt="Pic of me">
                </figure>
            </section>
        </div>
        <div class="row">
            <section class="small-12 columns">
                <div class="row">
                    <div class="small-12 columns">
                        <h2 class="page_header">I take pictures...</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 medium-8 medium-offset-4 columns">
                        <p>...since I was 13 or so when my parents bought me Olympus point-and-shoot 35-mm camera. Photography became my second nature since then and it’s my way of exploring the world.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns small_screen_figure">
                        <figure>
                            <img src="{% static 'sn_app/images/selfie.jpg' %}" alt="Seville selfie">
                        </figure>
                    </div>
                </div>
            </section>
        </div>
        <div class="row">
            <section class="small-12 columns">
                <div class="row">
                    <div class="small-12 columns">
                        <h2 class="page_header">I travel</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="small-8 small-offset-4 text-right columns">
                        <p>Road is life. And it’s never enough.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns small_screen_figure">
                        <figure>
                            <img src="{% static 'sn_app/images/road.jpg' %}" alt="Driving in the dark">
                        </figure>
                    </div>
                </div>
            </section>
        </div>
        <div class="row">
            <section class="small-12 columns">
                <div class="row">
                    <div class="small-12 columns">
                        <h2 class="page_header">I run</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="small-8 small-offset-4 text-right columns">
                        <p>This is how I meditate.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns small_screen_figure">
                        <figure>
                            <img src="{% static 'sn_app/images/onarun.jpg' %}" alt="Running views">
                        </figure>
                        <p></p>
                    </div>
                </div>
            </section>
        </div>

    </article>
</div>
{% endblock body %}
