{% extends "sn_app/base.html" %}
{% load sn_app_extras %}
{% load staticfiles %}
{% block title %}About{% endblock title %}

{% block open_graph %}
    <meta property="og:title" content="{{person.first_name }} {{ person.last_name }}. About." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://{{ request.get_host }}{% url 'sn_app:about' %}" />
    <meta property="og:image" content="https://res.cloudinary.com/sergeynikiforov/image/upload/c_fit,q_85,w_1024/v1451496375/Untitled-6-1_mfanal.jpg" />
{% endblock open_graph %}

{% block off_canvas_tab_bar_page_header %}
    <h2 class="page_header">/ABOUT-ME/</h2>
{% endblock off_canvas_tab_bar_page_header %}

{% block off_canvas_tab_bar_image %}
    <figure>
        {% pictureCloudinary 'Untitled-6-1_mfanal' sizes="100vw" srcset="200w 400w 600w 800w 1000w 1200w 1400w 1600w 2000w 2400w 2800w 3200w" alt='autoportrait' portrait=True %}
    </figure>
{% endblock off_canvas_tab_bar_image %}

{% block body %}
    <div class="show-for-medium-up">
        <div class="medium_screen_figure large_screen_figure">
            <div class="bg75-image-wrapper">
                <div class="image-wrap">
                    <div class="about-image">
                        <div id="preloader"></div>
                        <div class="row">
                            <div class="medium-10 medium-centered columns">
                                <div id="hero-nav">
                                    <h2 class="page_header">/ABOUT-ME/</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section>
        <div class="row">
            <div class="small-12 medium-10 small-centered columns container-center toggle-color about-me-wrapper">
                <div class="content-down">
                    <h2 class="page_subheader">Hello!</h2>
                    <!--
                    <ul class="about-me-section no-bullet text-center">
                        <li>My name is Sergey.</li>
                        <li>I like things that work flawlessly and look beautiful.</li>
                        <li>I like to build such things.</li>
                        <li>I like to contribute to projects that have meaning and stand out.</li>
                        <li>I like to teach and learn.</li>
                        <li>I'm one of those who unites people into groups rather than divides them into ones.</li>
                        <li>I like to make this world a better place.</li>
                    </ul>
                    -->
                    <p class="about-me-section">My name is Sergey, I live in Moscow, Russia. I'm a beginner in Python programming and this site is my first try in web-dev. I'm passionate about building things that work flawlessly and look beautiful. I like learning new things and making this world a better place.</p>
                </div>
            </div>
        </div>
        <div class="row hide-for-large-up">
            <div class="small-12 large-12 small-centered columns small_screen_figure medium_screen_figure text-center toggle-color">
                <figure>
                    {% pictureCloudinary '3G4A8760-Edit-3-Edit-2-1_fmxcnv' sizes="100vw" srcset="200w 400w 600w 800w 1000w 1200w 1400w 1600w 2000w 2400w 2800w 3200w" alt='picture of me, Lombok island, Indonesia' %}
                </figure>
            </div>
        </div>
        <div class="row show-for-large-up">
            <div class="small-12 large_screen_figure large-centered columns toggle-color">
                <div class="bg100-image-wrapper show-for-large-up">
                    <div class="image-wrap">
                        <div class="about-image-lombok"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="small-12 medium-10 small-centered columns container-center toggle-color about-me-wrapper">
                <div class="content-down">
                    <h2 class="page_subheader">I take pictures...</h2>
                    <p class="about-me-section">...since I was 13 or so when my parents presented me Olympus point-and-shoot 35-mm camera. Photography became my second nature since then and it’s my way of exploring the world.</p>
                </div>
            </div>
        </div>
        <div class="row hide-for-large-up">
            <div class="small-12 large-10 small-centered columns small_screen_figure medium_screen_figure text-center toggle-color">
                <figure>
                    {% pictureCloudinary '3G4A2572-1_clnzps' sizes="100vw" srcset="200w 400w 600w 800w 1000w 1200w 1400w 1600w 2000w 2400w 2800w 3200w" alt='Seville selfie' %}
                </figure>
            </div>
        </div>
        <div class="row show-for-large-up">
            <div class="small-12 large_screen_figure large-centered columns toggle-color">
                <div class="bg100-image-wrapper">
                    <div class="image-wrap">
                        <div class="about-image-selfie"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="small-12 medium-10 small-centered columns container-center toggle-color about-me-wrapper">
                <div class="content-center">
                    <h2 class="page_subheader">I like travelling</h2>
                    <p class="about-me-section">Road is life. And it’s never enough.</p>
                </div>
            </div>
        </div>
        <div class="row hide-for-large-up">
            <div class="small-12 large-10 small-centered columns small_screen_figure medium_screen_figure text-center toggle-color">
                <figure>
                    {% pictureCloudinary 'IMG_3822-1_u3dujb' sizes="100vw" srcset="200w 400w 600w 800w 1000w 1200w 1400w 1600w 2000w 2400w 2800w 3200w" alt='Night road' %}
                </figure>
            </div>
        </div>
        <div class="row show-for-large-up">
            <div class="small-12 large_screen_figure large-centered columns toggle-color">
                <div class="bg100-image-wrapper">
                    <div class="image-wrap">
                        <div class="about-image-road"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="small-12 medium-10 small-centered columns container-center toggle-color about-me-wrapper">
                <div class="content-center">
                    <h2 class="page_subheader">I enjoy running</h2>
                    <p class="about-me-section">This is how I meditate.</p>
                </div>
            </div>
        </div>
        <div class="row hide-for-large-up">
            <div class="small-12 large-10 small-centered columns small_screen_figure medium_screen_figure text-center toggle-color">
                <figure>
                    {% pictureCloudinary 'IMG_3712-Edit-1_aggatn' sizes="100vw" srcset="200w 400w 600w 800w 1000w 1200w 1400w 1600w 2000w 2400w 2800w 3200w" alt='view from Mount Sinai at the crack of dawn' %}
                </figure>
            </div>
        </div>
        <div class="row show-for-large-up">
            <div class="small-12 large_screen_figure large-centered columns toggle-color">
                <div class="bg100-image-wrapper">
                    <div class="image-wrap">
                        <div class="about-image-sinai-mountains"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock body %}
{% block whats_next %}
    <div id="whats-next" class="row toggle-color">
        <div class="small-12 medium-10 small-centered columns">
            <h2 class="page_subheader">What's next?</h2>
            <ul class="no-bullet">
                <li><a href="{% url 'sn_app:resume' %}">SEE MY RESUME</a></li>
                <li><a href="{% url 'sn_app:photography' %}">SEE MY PHOTOS</a></li>
                <li><a href="{% url 'sn_app:contact' %}">GET IN TOUCH WITH ME</a></li>
            </ul>
        </div>
    </div>
{% endblock whats_next %}
