<!DOCTYPE html>{% load sn_app_extras %}{% load static %}{% load cloudinary %}
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% block title %}Sergey Nikiforov{% endblock title %}</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="author" content="Sergey Nikiforov" />
        <meta name="description" content="Sergey Nikiforov's personal site. Photography. Resume." />
        <meta name="keywords" content="photography, resume, travel" />
        <meta name="google" content="notranslate" />
        <meta name="robots" content="index, follow" />
        {% block open_graph %}
            <meta property="og:title" content="Sergey Nikiforov" />
            <meta property="og:type" content="website" />
            <meta property="og:url" content="http://{{ request.get_host }}{% url 'sn_app:landing' %}" />
            <meta property="og:image" content="https://res.cloudinary.com/sergeynikiforov/image/upload/c_fit,q_85,w_1024/v1451498375/3G4A3942-Edit-1_mypv4c.jpg" />
        {% endblock open_graph %}
        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="http://www.sergey-nikiforov.com/apple-touch-icon-57x57.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://www.sergey-nikiforov.com/apple-touch-icon-114x114.png" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://www.sergey-nikiforov.com/apple-touch-icon-72x72.png" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://www.sergey-nikiforov.com/apple-touch-icon-144x144.png" />
        <link rel="apple-touch-icon-precomposed" sizes="60x60" href="http://www.sergey-nikiforov.com/apple-touch-icon-60x60.png" />
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="http://www.sergey-nikiforov.com/apple-touch-icon-120x120.png" />
        <link rel="apple-touch-icon-precomposed" sizes="76x76" href="http://www.sergey-nikiforov.com/apple-touch-icon-76x76.png" />
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="http://www.sergey-nikiforov.com/apple-touch-icon-152x152.png" />
        <link rel="apple-touch-icon-precomposed" sizes="180x180" href="http://www.sergey-nikiforov.com/apple-touch-icon-180x180.png" />
        <link rel="icon" type="image/png" href="http://www.sergey-nikiforov.com/favicon-196x196.png" sizes="196x196" />
        <link rel="icon" type="image/png" href="http://www.sergey-nikiforov.com/favicon-96x96.png" sizes="96x96" />
        <link rel="icon" type="image/png" href="http://www.sergey-nikiforov.com/favicon-32x32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="http://www.sergey-nikiforov.com/favicon-16x16.png" sizes="16x16" />
        <link rel="icon" type="image/png" href="http://www.sergey-nikiforov.com/favicon-128.png" sizes="128x128" />
        <meta name="application-name" content="Sergey Nikiforov"/>
        <meta name="msapplication-TileColor" content="#FFFFFF" />
        <meta name="msapplication-TileImage" content="http://www.sergey-nikiforov.com/mstile-144x144.png" />
        <meta name="msapplication-square70x70logo" content="http://www.sergey-nikiforov.com/mstile-70x70.png" />
        <meta name="msapplication-square150x150logo" content="http://www.sergey-nikiforov.com/mstile-150x150.png" />
        <meta name="msapplication-wide310x150logo" content="http://www.sergey-nikiforov.com/mstile-310x150.png" />
        <meta name="msapplication-square310x310logo" content="http://www.sergey-nikiforov.com/mstile-310x310.png" />
        <link rel="stylesheet" href="{% static 'sn_app/css/app.min.css' %}"/>
        <script src="https://use.typekit.net/mjs0gdv.js"></script>
        <script>try{Typekit.load({ async: false });}catch(e){}</script>
        <script src="{% static 'sn_app/js/modernizr.min.js' %}"></script>
        <script src="{% static 'sn_app/js/picturefill.min.js' %}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script type="text/javascript">
            //<![CDATA[
                $(window).load(function() {
                    $('#preloader').delay(150).animate({opacity: 0.0}, 300, function() {
                        if ($('#top-bar-wrapper').length > 0) {
                            $('#preloader').hide(100);
                            $('#top-bar-wrapper').animate({opacity: 1.0}, 100, function() {
                                $('#hero-nav').animate({opacity: 1.0}, 150);
                                $('#hero-nav').addClass('page-onload');
                            });
                        } else {
                            $('#preloader').hide(100);
                            $('#top-bar-wrapper').animate({opacity: 1.0}, 100);
                            $('#hero-nav').animate({opacity: 1.0}, 150);
                            $('#hero-nav').addClass('page-onload');
                        }
                    });
                    $('#mobile-preloader').delay(400).fadeOut('slow');
                    $('body').delay(750).css({'overflow':'visible'});
                });
            //]]>
        </script>
        {% block json_ld %}
            <script type="application/ld+json">
                {
                    "@context": "http://schema.org",
                    "@type": "Person",
                    "address": {
                        "@type": "PostalAddress",
                        "addressCountry": "RU",
                        "addressLocality": "Moscow",
                        "addressRegion": "Moscow"
                    },
                    "email": "mailto:{{ person.email }}",
                    "name": "{{ person.first_name }} {{ person.last_name }}",
                    "alumniOf": {
                        "@type": "EducationalOrganization",
                        "name": "Peoples' Friendship University of Russia",
                        "sameAs": "http://www.rudn.ru/"
                    },
                    "telephone": "+7 (916) 323-6973",
                    "url": "http://www.sergeynikiforov.com",
                    "sameAs" : [
                        "{{ person.facebook_link }}",
                        "{{ person.flickr_link }}",
                        "{{ person.instagram_link }}",
                        "{{ person.linkedin_link }}"
                      ]
                }
            </script>
        {% endblock json_ld %}
    </head>
    <body>
        <div id="mobile-preloader">
            <div id="status" class="show-for-small-only">
                <div class="wrapper">
                    <div class="cssload-loader">
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>
        {% block header %}
            {% if person %}
            <div id="page-top"></div>
            <div id="top-bar-wrapper">
                <div class="fixed">
                    <div class="row">
                        <div id="header-wrapper" class="medium-10 large-10 medium-centered columns show-for-medium-up">
                            <header>
                                <nav id="navigation-top-bar" class="top-bar" data-topbar>
                                    <ul class="title-area cl-effect-1">
                                        <li class="name">
                                            <h1>{% block top_bar_title %}<a id="top-bar-header" href="{% url 'sn_app:landing' %}">{{ person.first_name|upper }} {{ person.last_name|upper }}</a>{% endblock top_bar_title %}</h1>
                                        </li>
                                    </ul>
                                    {% block top_bar_section %}
                                        <div class="top-bar-section show-for-large-up">
                                            <ul class="right text-center cl-effect-1">
                                                <li><a href="{% url 'sn_app:landing' %}">HOME</a></li>
                                                <li><a href="{% url 'sn_app:about' %}">ABOUT</a></li>
                                                <li><a href="{% url 'sn_app:resume' %}">RESUME</a></li>
                                                <li><a href="{% url 'sn_app:photography' %}">PHOTOGRAPHY</a></li>
                                                <li><a href="{% url 'sn_app:contact' %}">CONTACT ME</a></li>
                                            </ul>
                                        </div>
                                        <div class="top-bar-section show-for-medium-only">
                                            <ul class="right text-right">
                                                <li class="has-dropdown">
                                                    <a href="#">MENU</a>
                                                    <ul class="dropdown cl-effect-1">
                                                        <li><a href="{% url 'sn_app:landing' %}">HOME</a></li>
                                                        <li><a href="{% url 'sn_app:about' %}">ABOUT</a></li>
                                                        <li><a href="{% url 'sn_app:resume' %}">RESUME</a></li>
                                                        <li><a href="{% url 'sn_app:photography' %}">PHOTOGRAPHY</a></li>
                                                        <li><a href="{% url 'sn_app:contact' %}">CONTACT ME</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    {% endblock top_bar_section %}
                                </nav>
                            </header>
                        </div>
                    </div>
                    <div id="top-bar-sticky-page-header">
                        {% block top_bar_sticky_page_header %}
                        {% endblock top_bar_sticky_page_header %}
                    </div>
                </div>
            </div>
            {% endif %}
        {% endblock header %}
        {% block offcanvas_open %}
        <div class="off-canvas-wrap" data-offcanvas>
            <div class="inner-wrap">
                <div class="row">
                    <div class="small-12 medium-10 small-centered columns small_screen_figure">
                        <div class="overlay_container {% block offcanvas_visibility %} show-for-small-only {% endblock offcanvas_visibility %}">
                            <div class="overlay">
                                <nav id="navigation-tab-bar" class="tab-bar">
                                  <div class="left tab-bar-section">
                                    <h2 class="title">{% block tab_bar_title %}<a href="{% url 'sn_app:landing' %}">{{ person.first_name|upper }} {{ person.last_name|upper }}</a>{% endblock tab_bar_title %}</h2>

                                    {% block off_canvas_tab_bar_page_header %}
                                    {% endblock off_canvas_tab_bar_page_header %}

                                    {% block off_canvas_tab_bar_page_links %}{% endblock off_canvas_tab_bar_page_links %}
                                  </div>
                                  <div class="right">
                                    <a href="navigation-off-canvas-bar" role="button" aria-controls="navigation-off-canvas-bar" aria-expanded="false" class="right-off-canvas-toggle transparent-button-small">MENU</a>
                                  </div>
                                </nav>
                            </div>
                            {% block off_canvas_tab_bar_image %}
                                <figure>
                                    {% pictureCloudinary '000078160033_shjhht' sizes="100vw" srcset="200w 400w 600w 800w 1000w 1200w 1400w 1600w 2000w 2400w 2800w 3200w" alt='autoportrait' %}
                                </figure>
                            {% endblock off_canvas_tab_bar_image %}
                        </div>
                    </div>
                </div>

                <aside id="navigation-off-canvas-bar" class="right-off-canvas-menu show-for-small-only">
                  <ul  class="off-canvas-list">
                    <li><h6><label>{{ person.first_name|upper }} {{ person.last_name|upper }}</label></h6></li>
                    <li><a href="{% url 'sn_app:landing' %}">HOME</a></li>
                    <li><a href="{% url 'sn_app:about' %}">ABOUT</a></li>
                    <li><a href="{% url 'sn_app:resume' %}">RESUME</a></li>
                    <li><a href="{% url 'sn_app:photography' %}">PHOTOGRAPHY</a></li>
                    <li><a href="{% url 'sn_app:contact' %}">CONTACT ME</a></li>
                    {% if photosets %}
                        <li><label id="off-canvas-extra-label">/PHOTOGRAPHY/</label></li>
                        {% for photoset in photosets %}
                            <li><a href="{% url 'sn_app:photoset' photoset.slug %}">{{ photoset.title|upper }}</a></li>
                        {% endfor %}
                    {% endif %}
                    {% if jobs %}
                        <li><label id="off-canvas-extra-label">/RESUME/</label></li>
                        <li><a class="exit-off-canvas-link" href="#contact">CONTACT DETAILS</a></li>
                        <li><a class="exit-off-canvas-link" href="#education">EDUCATION</a></li>
                        <li><a class="exit-off-canvas-link" href="#courses">ONLINE COURSES</a></li>
                        <li><a class="exit-off-canvas-link" href="#work">WORK</a></li>
                        <li><a class="exit-off-canvas-link" href="#skills">SKILLS</a></li>
                    {% endif %}
                  </ul>
                </aside>
        {% endblock offcanvas_open %}
        <main class="main-section">
            <article>
                <!--[if lt IE 8]>
                    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
                <![endif]-->
                {% block body %}{% endblock body %}
            </article>
        </main>
        {% block footer %}
            <footer>
                {% block whats_next %}
                    <div id="whats-next" class="row">
                        <div class="small-12 medium-10 small-centered columns">
                            <ul class="no-bullet">
                                <li><a href="{% url 'sn_app:about' %}">ABOUT</a></li>
                                <li><a href="{% url 'sn_app:resume' %}">SEE MY RESUME</a></li>
                                <li><a href="{% url 'sn_app:photography' %}">SEE MY PHOTOS</a></li>
                                <li><a href="{% url 'sn_app:contact' %}">GET IN TOUCH WITH ME</a></li>
                            </ul>
                        </div>
                    </div>
                {% endblock whats_next %}
                <div id="footer-img">
                    <div class="row toggle-color">
                        <div class="small-12 medium-10 small-centered columns">
                            <div id="footer-top-section" class="row">
                                <div class="small-12 medium-6 large-4 columns footer-column">
                                    <ul class="no-bullet cl-effect-1">
                                        <li class="footer-column-title"><a href="{% url 'sn_app:landing' %}">{{ person.first_name|upper}} {{ person.last_name|upper}}</a></li>
                                        <li><a href="{% url 'sn_app:about' %}">ABOUT</a></li>
                                        <li><a href="{% url 'sn_app:resume' %}">RESUME</a></li>
                                        <li><a href="{% url 'sn_app:photography' %}">PHOTOGRAPHY</a></li>
                                        <li><a href="{% url 'sn_app:contact' %}">CONTACT ME</a></li>
                                        <li class="show-for-small-only"><a href="#page-top">BACK TO TOP</a></li>
                                    </ul>
                                </div>
                                <div class="small-12 medium-6 large-4 columns footer-column show-for-medium-up">
                                    <ul class="no-bullet cl-effect-1">
                                        <li class="footer-column-title"><a href="{% url 'sn_app:contact' %}">SOCIAL NETWORKS</a></li>
                                        <li><a href="{{ person.facebook_link }}">FACEBOOK</a></li>
                                        <li><a href="{{ person.flickr_link }}">FLICKR</a></li>
                                        <li><a href="{{ person.instagram_link }}">INSTAGRAM</a></li>
                                        <li><a href="{{ person.linkedin_link }}">LINKEDIN</a></li>
                                    </ul>
                                </div>
                                <div class="small-12 medium-4 large-4 columns footer-column hide-for-medium-only">
                                    <ul class="no-bullet cl-effect-1">
                                        <li class="footer-column-title"><a href="{% url 'sn_app:contact' %}">WRITE TO ME</a></li>
                                        <li><a href="mailto:{{ person.email }}">{{ person.email }}</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div id="footer-bottom-section" class="row">
                                <div class="small-6 columns copyright">
                                    <p><a href="{% url 'sn_app:landing' %}">{{ person.first_name}} {{ person.last_name }}</a> (c) 2015</p>
                                    <p></p>
                                </div>
                                <div class="small-6 columns text-right page-top-link cl-effect-1 show-for-medium-up">
                                    <a href="#page-top">BACK TO TOP</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        {% endblock footer %}
        {% block offcanvas_close %}
                <a class="exit-off-canvas"></a>
            </div>
        </div>
        {% endblock offcanvas_close %}
        {% block templates %}{% endblock templates %}
        {% block js_scripts %}
            <script src="{% static 'sn_app/js/app.min.js' %}"></script>
        {% endblock js_scripts %}
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-38392366-2', 'auto');
          ga('send', 'pageview');
        </script>
    </body>
</html>
