<!DOCTYPE html>{% load sn_app_extras %}{% load static %}{% load cloudinary %}
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Sergey Nikiforov{% endblock title %}</title>
        <link rel="stylesheet" href="{% static 'sn_app/css/app.css' %}"/>
        <script src="https://use.typekit.net/mjs0gdv.js"></script>
        <script>try{Typekit.load({ async: false });}catch(e){}</script>
        <script src="{% static 'modernizr/modernizr.js' %}"></script>
        <script src="{% static 'sn_app/js/picturefill.js' %}"></script>
    </head>
    <body>
        {% block header %}
            {% if person %}
            <div id="page-top"></div>
            <div id="top-bar-wrapper">
                <div class="fixed">
                    <div class="row">
                        <div id="header-wrapper" class="medium-10 large-10 medium-centered columns show-for-medium-up">
                            <header>
                                <nav id="navigation-bar" class="top-bar" data-topbar role="navigation">
                                    <ul class="title-area cl-effect-1">
                                        <li class="name">
                                            <h1>{% block top_bar_title %}<a id="top-bar-header" href="{% url 'sn_app:landing' %}">{{ person.first_name|upper }} {{ person.last_name|upper }}</a>{% endblock top_bar_title %}</h1>
                                        </li>
                                        <!--<li class="toggle-topbar"><a href="#"><span>Menu</span></a></li>-->
                                    </ul>
                                    {% block top_bar_section %}
                                        <section  class="top-bar-section show-for-large-up">
                                            <ul class="right text-center cl-effect-1">
                                                <li><a href="{% url 'sn_app:landing' %}">HOME</a></li>
                                                <li><a href="{% url 'sn_app:about' %}">ABOUT</a></li>
                                                <li><a href="{% url 'sn_app:resume' %}">RESUME</a></li>
                                                <li><a href="{% url 'sn_app:photography' %}">PHOTOGRAPHY</a></li>
                                                <li><a href="{% url 'sn_app:contact' %}">CONTACT ME</a></li>
                                            </ul>
                                        </section>
                                        <section class="top-bar-section show-for-medium-only">
                                            <ul class="right text-right">
                                                <li class="has-dropdown">
                                                    <a href="#">MENU</a>
                                                    <ul class="dropdown cl-effect-1">
                                                        <li><a href="{% url 'sn_app:landing' %}">HOME</a></li>
                                                        <li><a href="{% url 'sn_app:about' %}">ABOUT</a></li>
                                                        <li><a href="{% url 'sn_app:resume' %}">RESUME</a></li>
                                                        <li><a href="{% url 'sn_app:photography' %}">PHOTOGRAPHY</a></li>
                                                        <li><a href="{% url 'sn_app:contact' %}">CONTACT ME</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </section>
                                    {% endblock top_bar_section %}
                                </nav>
                            </header>
                        </div>
                    </div>
                    <div id="top-bar-sticky-page-header">
                        {% block top_bar_sticky_page_header %}
                        {% endblock top_bar_sticky_page_header %}
                    </div>
                </div>
            </div>
            {% endif %}
        {% endblock header %}
        {% block offcanvas_open %}
        <div class="off-canvas-wrap" data-offcanvas>
            <div class="inner-wrap">
                <div class="row">
                    <div class="small-12 medium-10 small-centered columns small_screen_figure">
                        <div class="overlay_container {% block offcanvas_visibility %} show-for-small-only {% endblock offcanvas_visibility %}">
                            <div class="overlay">
                                <nav id="navigation-bar" class="tab-bar">
                                  <section class="left tab-bar-section">
                                    <h2 class="title">{% block tab_bar_title %}<a href="{% url 'sn_app:landing' %}">{{ person.first_name|upper }} {{ person.last_name|upper }}</a>{% endblock tab_bar_title %}</h2>

                                    {% block off_canvas_tab_bar_page_header %}
                                        <h2 class="page_header">/SPAM</h2>
                                    {% endblock off_canvas_tab_bar_page_header %}

                                    {% block off_canvas_tab_bar_page_links %}{% endblock off_canvas_tab_bar_page_links %}
                                  </section>
                                  <section class="right">
                                    <a href="#idOfRightMenu" role="button" aria-controls="idOfRightMenu" aria-expanded="false" class="right-off-canvas-toggle transparent-button-small">MENU</a>
                                  </section>
                                </nav>
                            </div>
                            {% block off_canvas_tab_bar_image %}
                                <figure>
                                    {% pictureCloudinary '000078160033_shjhht' sizes="100vw" srcset="200w 400w 600w 800w 1000w 1200w 1400w 1600w 2000w 2400w 2800w 3200w" alt='autoportrait' %}
                                </figure>
                            {% endblock off_canvas_tab_bar_image %}
                        </div>
                    </div>
                </div>

                <aside id="navigation-bar" class="right-off-canvas-menu show-for-small-only">
                  <ul  class="off-canvas-list">
                    <li><label>{{ person.first_name|upper }} {{ person.last_name|upper }}</label></li>
                    <li><a href="{% url 'sn_app:landing' %}">HOME</a></li>
                    <li><a href="{% url 'sn_app:about' %}">ABOUT</a></li>
                    <li><a href="{% url 'sn_app:resume' %}">RESUME</a></li>
                    <li><a href="{% url 'sn_app:photography' %}">PHOTOGRAPHY</a></li>
                    <li><a href="{% url 'sn_app:contact' %}">CONTACT ME</a></li>
                    {% if photosets %}
                        <li><label id="off-canvas-extra-label">/PHOTOGRAPHY/</label></li>
                        {% for photoset in photosets %}
                            <li><a href="{% url 'sn_app:photoset' photoset.slug %}">{{ photoset.title|upper }}</a></li>
                        {% endfor %}
                    {% endif %}
                    {% if jobs %}
                        <li><label id="off-canvas-extra-label">/RESUME/</label></li>
                        <li><a class="exit-off-canvas-link" href="#contact">CONTACT DETAILS</a></li>
                        <li><a class="exit-off-canvas-link" href="#education">EDUCATION</a></li>
                        <li><a class="exit-off-canvas-link" href="#courses">ONLINE COURSES</a></li>
                        <li><a class="exit-off-canvas-link" href="#work">WORK</a></li>
                        <li><a class="exit-off-canvas-link" href="#skills">SKILLS</a></li>
                    {% endif %}
                  </ul>
                </aside>
        {% endblock offcanvas_open %}
        <main class="main-section">
            <article>
                {% block body %}{% endblock body %}
            </article>
        </main>
        {% block footer %}
            <footer>
                {% block whats_next %}
                    <div id="whats-next" class="row">
                        <div class="small-12 medium-10 small-centered columns">
                            <ul class="no-bullet">
                                <li><a href="{% url 'sn_app:about' %}">ABOUT</a></li>
                                <li><a href="{% url 'sn_app:resume' %}">SEE MY RESUME</a></li>
                                <li><a href="{% url 'sn_app:photography' %}">SEE MY PHOTOS</a></li>
                                <li><a href="{% url 'sn_app:contact' %}">GET IN TOUCH WITH ME</a></li>
                            </ul>
                        </div>
                    </div>
                {% endblock whats_next %}
                <div id="footer-wrapper" class="row">
                    <div class="small-12 medium-10 small-centered columns">
                        <div id="footer-top-section" class="row">
                            <div class="small-12 medium-6 large-4 columns footer-column">
                                <ul class="no-bullet cl-effect-1">
                                    <li class="footer-column-title"><a href="{% url 'sn_app:landing' %}">{{ person.first_name|upper}} {{ person.last_name|upper}}</a></li>
                                    <li><a href="{% url 'sn_app:about' %}">ABOUT</a></li>
                                    <li><a href="{% url 'sn_app:resume' %}">RESUME</a></li>
                                    <li><a href="{% url 'sn_app:photography' %}">PHOTOGRAPHY</a></li>
                                    <li><a href="{% url 'sn_app:contact' %}">CONTACT ME</a></li>
                                </ul>
                            </div>
                            <div class="small-12 medium-6 large-4 columns footer-column show-for-medium-up">
                                <ul class="no-bullet cl-effect-1">
                                    <li class="footer-column-title"><a href="{% url 'sn_app:contact' %}">SOCIAL NETWORKS</a></li>
                                    <li><a href="{{ person.facebook_link }}">FACEBOOK</a></li>
                                    <li><a href="{{ person.flickr_link }}">FLICKR</a></li>
                                    <li><a href="{{ person.instagram_link }}">INSTAGRAM</a></li>
                                    <li><a href="{{ person.linkedin_link }}">LINKEDIN</a></li>
                                </ul>
                            </div>
                            <div class="small-12 medium-4 large-4 columns footer-column hide-for-medium-only">
                                <ul class="no-bullet cl-effect-1">
                                    <li class="footer-column-title"><a href="{% url 'sn_app:contact' %}">WRITE TO ME</a></li>
                                    <li><a href="mailto:{{ person.email }}">{{ person.email }}</a></li>
                                </ul>
                            </div>
                        </div>
                        <div id="footer-bottom-section" class="row">
                            <div class="small-6 columns copyright">
                                <p><a href="{% url 'sn_app:landing' %}">{{ person.first_name}} {{ person.last_name }}</a></p>
                                <p>(c) 2015</p>
                            </div>
                            <div class="small-6 columns text-right page-top-link cl-effect-1">
                                <a href="#page-top">BACK TO TOP</a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        {% endblock footer %}
        {% block offcanvas_close %}
                <a class="exit-off-canvas"></a>
            </div>
        </div>
        {% endblock offcanvas_close %}
        {% block templates %}{% endblock templates %}
        <script src="{% static 'sn_app/js/app.js' %}"></script>
    </body>
</html>
