<!DOCTYPE html>{% load sn_app_extras %}{% load static %}{% load cloudinary %}
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Sergey Nikiforov{% endblock title %}</title>
        <link rel="stylesheet" href="{% static 'sn_app/css/app.css' %}"/>
        <script src="{% static 'modernizr/modernizr.js' %}"></script>
    </head>
    <body>
        <header>
            {% block header %}
                {% if person %}
                    <div class="contain-to-grid">
                        <nav class="top-bar" data-topbar role="navigation">
                            <ul class="title-area">
                                <li class="name">
                                    <h1><a href="{% url 'sn_app:landing' %}">{{ person.first_name|upper }} {{ person.last_name|upper }}</a></h1>
                                </li>
                                <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
                            </ul>
                            <section class="top-bar-section">
                                <ul class="right">
                                    <li><a href="{% url 'sn_app:landing' %}">home</a></li>
                                    <li><a href="{% url 'sn_app:about' %}">about</a></li>
                                    <li><a href="{% url 'sn_app:resume' %}">resume</a></li>
                                    <li><a href="{% url 'sn_app:photography' %}">photography</a></li>
                                    <li><a href="{% url 'sn_app:contact' %}">contact me</a></li>
                                </ul>
                            </section>
                        </nav>
                    </div>
                {% else %}
                    <p>no person info</p>
                {% endif %}
            {% endblock header %}
        </header>
        {% block sidenav %}{% endblock sidenav %}
        <main>
            {% block body %}{% endblock body %}
        </main>
        {% block footer %}
            <footer>
                <div class="small-12 large-8 large-centered columns">
                    {% if person %}
                    <address>
                        <ul class="inline-list">
                            <li><a href="{% url 'sn_app:landing' %}">2015 © Sergey Nikiforov</a></li>
                            <li><a href="{{ person.facebook_link }}">facebook</a></li>
                            <li><a href="{{ person.linkedin_link }}">linkedin</a></li>
                            <li><a href="{{ person.instagram_link }}">instagram</a></li>
                            <li><a href="{{ person.flickr_link }}">flickr</a></li>
                        </ul>
                    </address>
                    {% else %}
                        <p>Error retrieving data</p>
                    {% endif %}
                </div>
            </footer>
        {% endblock footer %}
        <script src="{% static 'sn_app/js/app.js' %}"></script>
    </body>
</html>

