{% extends "sn_app/base.html" %}
{% load sn_app_extras %}
{% load staticfiles %}
{% block title %}{% if person %}{{ person.first_name }} {{ person.last_name }}{% else %}Home{% endif %}{% endblock title %}
{% block header %}<div id="page-top"></div>{% endblock header %}
{% block offcanvas_visibility %} show-for-small-only {% endblock offcanvas_visibility %}
{% block off_canvas_tab_bar_page_header %}{% endblock off_canvas_tab_bar_page_header %}
{% block off_canvas_tab_bar_image %}
    <figure>
       {% pictureCloudinary '3G4A3942-Edit-1_mypv4c' sizes="100vw" srcset="200w 400w 600w 800w 1000w 1200w 1400w 1600w 2000w 2400w 2800w 3200w" alt='Goya Street, Cadiz, Spain' portrait=True %}
    </figure>
{% endblock off_canvas_tab_bar_image %}
{% block body %}
    <script type="application/ld+json">
        {
          "@context" : "https://schema.org",
          "@type" : "WebSite",
          "name" : "www.sergey-nikiforov.com",
          "url" : "https://www.sergey-nikiforov.com"
        }
    </script>
    <div class="show-for-medium-up">
        <div class="medium_screen_figure large_screen_figure">
            <div class="bg100-image-wrapper">
                <div class="image-wrap">
                    <div class="home-image">
                        <div id="preloader">
                        </div>
                        <div class="row">
                            <div class="small-12 medium-10 small-centered columns show-for-medium-up">
                                <div id="hero-nav">
                                    <h2 class="page_header">/{{ person.first_name|upper }} {{ person.last_name|upper }}/</h2>
                                    <p class="landing"><a href="{% url 'sn_app:resume' %}">RESUME</a></p>
                                    <p class="landing"><a href="{% url 'sn_app:photography' %}">PHOTOGRAPHY</a></p>
                                    <p class="landing"><a href="{% url 'sn_app:contact' %}">CONTACT ME</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
{% block whats_next %}
    <div id="whats-next" class="row">
        <div class="small-12 medium-10 small-centered columns">
            <h2 class="page_subheader">{{ person.first_name }} {{ person.last_name }}</h2>
            <ul class="no-bullet">
                <li><a href="{% url 'sn_app:resume' %}">RESUME</a></li>
                <li><a href="{% url 'sn_app:photography' %}">PHOTOGRAPHY</a></li>
                <li><a href="{% url 'sn_app:contact' %}">CONTACT ME</a></li>
            </ul>
        </div>
    </div>
{% endblock whats_next %}
