{% extends "sn_app/base.html" %}
{% load sn_app_extras %}
{% load staticfiles %}
{% load cloudinary %}
{% block title %}{% if active_photoset %}{{ active_photoset.title }}{% endif %}{% endblock title %}
{% block header %} {% endblock header %}
{% block body %}
<article>
    <div class="row show-for-large-up">
        {% if active_photoset %}
            <div class="large-2 columns show-for-large-up">
                <p></p>
            </div>
            <div class="small-12 medium-10 large-8 medium-centered large-uncentered columns text-center">
                <header>
                    <h1 class="page_header">{{ active_photoset.title|upper }}</h1>
                </header>
            </div>
            <div class="large-2 columns show-for-large-up">
                <p><a href="{% url 'sn_app:photoset' active_photoset.slug %}">close</a></p>
            </div>
        {% endif %}
    </div>
    <div class="row">
        <aside class="large-2 columns show-for-large-up">
            {% if photosets %}
                <nav class="side-nav text-right sticky-sidebar" role="navigation" title="Albums">
                    {% for photoset in photosets %}
                        <p><a href="{% url 'sn_app:photoset' photoset.slug %}">{{ photoset.title }}</a></p>
                    {% endfor %}
                </nav>
            {% endif %}
        </aside>
        <section id="photo-wrapper" class="small-12 medium-10 large-8 small-centered large-uncentered columns text-center">
        </section>
        <div class="large-2 columns">
            <div id="photo-description-wrapper" class="show-for-large-up"></div>
        </div>
    </div>
    <div class="row">
        <div class="large-2 columns show-for-large-up">
            <p></p>
        </div>
        <div class="small-12 medium-10 large-8 small-centered large-uncentered columns">
            <div id="photo-title-wrapper" class="text-center"></div>
        </div>
        <div class="large-2 columns">
            <div class="show-for-large-up">
                <p><a id="prev" class="transparent-button-small prev">prev</a><a id="next" class="transparent-button-small next">next</a></p>
            </div>
        </div>
    </div>
    <div class="row hide-for-large-up">
        <div class="small-12 columns text-center">
            <div class="text-center">
                <p><a id="prev" class="transparent-button-small prev">prev</a><a id="next" class="transparent-button-small next">next</a></p>
            </div>
        </div>
    </div>
</article>
{% endblock body %}
{% block footer %}
{% endblock footer %}
{% block templates %}
<script type="text/template" id="photo-item-tmpl">
    <figure >
        <picture>
            <source sizes="<%= sizes %>" srcset="<%= srcsetWebp %>" type="image/webp">
            <img src="<%= imgSrc %>" alt="<%= title %>" sizes="<%= sizes %>" srcset="<%= srcsetJpg %>">
        </picture>
    </figure>
</script>
<script type="text/template" id="photo-description-tmpl">
    <p><%= description %></p>
</script>
<script type="text/template" id="photo-title-tmpl">
    <h6><%= title %></h6>
</script>
{% endblock templates %}