{% extends "sn_app/base.html" %}
{% load sn_app_extras %}
{% load staticfiles %}
{% load cloudinary %}
{% block title %}Photography{% endblock title %}

{% block off_canvas_tab_bar_page_header %}
    <h2 class="page_header">/PHOTOGRAPHY/</h2>
{% endblock off_canvas_tab_bar_page_header %}

{% block off_canvas_tab_bar_page_links %}
    <!--
    {% if photosets %}
        {% for photoset in photosets %}
            <p class="landing"><a href="#{{ photoset.slug }}">{{ photoset.title|upper }}</a></p>
        {% endfor %}
    {% endif %}
    -->
{% endblock off_canvas_tab_bar_page_links %}

{% block off_canvas_tab_bar_image %}
    <figure>
        {% pictureCloudinary "photography_xddfkp" sizes="(min-width: 1025px) 90vw, (min-width: 641px) 100vw, 100vw" srcset="200w 400w 600w 800w 1000w 1200w 1400w 1600w 2000w 2400w 2800w 3200w" alt="photography hero image" %}
    </figure>
{% endblock off_canvas_tab_bar_image %}


{% block body %}
    <div class="show-for-medium-up">
        <div class="medium_screen_figure large_screen_figure">
            <div class="bg75-image-wrapper">
                <div class="image-wrap">
                    <div class="photography-image">
                        <div id="preloader"></div>
                        <div class="row">
                            <div class="medium-10 medium-centered columns ">
                                <nav id="hero-nav" role="navigation">
                                    <h2 class="page_header">/PHOTOGRAPHY/</h2>
                                    {% if photosets %}
                                        {% for photoset in photosets %}
                                            <p class="landing"><a id="{{ photoset.cover_photo.url }}" class="hover-background" href="#{{ photoset.slug }}">{{ photoset.title|upper }}</a></p>
                                        {% endfor %}
                                    {% endif %}
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--
    <div class="row show-for-medium-only">
        <div class="small-12 columns small_screen_figure medium_screen_figure">
            <div class="overlay_container">
                <figure>
                    {% pictureCloudinary "photography_xddfkp" sizes="(min-width: 1025px) 90vw, (min-width: 641px) 100vw, 100vw" srcset="200w 400w 600w 800w 1000w 1200w 1400w 1600w 2000w 2400w 2800w 3200w" alt="photography hero image" %}
                </figure>
                <div class="overlay">
                    <div class="row">
                        <div class="medium-10 small-centered columns">
                            <nav id="hero-nav" role="navigation">
                                <h2 class="page_header">/PHOTOGRAPHY/</h2>
                                {% if photosets %}
                                    {% for photoset in photosets %}
                                        <p class="landing"><a href="#{{ photoset.slug }}">{{ photoset.title|upper }}</a></p>
                                    {% endfor %}
                                {% endif %}
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    -->
    {% if photosets %}
        {% for photoset in photosets %}
        <section>
            <div class="row">
                <div id="{{ photoset.slug }}" class="small-12 medium-10 small-centered columns photoset-info toggle-color">
                    <div class="row">
                        <div class="small-12 medium-10 large-8 columns">
                            <h3 class="photoset-thumb-title"><a href="{% url 'sn_app:photoset' photoset.slug %}">{{ photoset.title }}</a></h3>
                            <p class="photoset-thumb-description">{{ photoset.short_description }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row hide-for-medium-up">
                <div class="small-12 small-centered columns small_screen_figure medium_screen_figure toggle-color">
                    <figure>
                        <a href="{% url 'sn_app:photoset' photoset.slug %}">
                            {% pictureCloudinary photoset.cover_photo.publicID sizes="(min-width: 1025px) 80vw, (min-width: 641px) 100vw, 100vw" srcset="200w 400w 600w 800w 1000w 1200w 1400w 1600w 2000w 2400w 2800w 3200w" alt=photoset.title %}
                        </a>
                    </figure>
                </div>
            </div>
            <div class="row show-for-medium-up">
                <div class="large-12 columns medium_screen_figure large_screen_figure toggle-color">
                    <div class="photoset-cover-wrapper fade-in">
                        <div class="image-wrap">
                            <a href="{% url 'sn_app:photoset' photoset.slug %}">
                                <div class="photoset-image" style="background-image: url({{ photoset.cover_photo.url }})"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% endfor %}
    {% endif %}
{% endblock body %}
{% block whats_next %}
    <div id="whats-next" class="row toggle-color">
        <div class="small-12 medium-10 small-centered columns">
            <h2 class="page_subheader">What's next?</h2>
            <ul class="no-bullet">
                <li><a href="{% url 'sn_app:resume' %}">SEE MY RESUME</a></li>
                <li><a href="{% url 'sn_app:contact' %}">GET IN TOUCH WITH ME</a></li>
            </ul>
        </div>
    </div>
{% endblock whats_next %}
