{% extends "sn_app/base.html" %}
{% load sn_app_extras %}
{% load staticfiles %}
{% load cloudinary %}
{% block title %}Photography - {% if photoset_title %}{{ photoset_title }}{% endif %}{% endblock title %}
{% block body %}
<article>
    <div class="row">
        {% if active_photoset %}
            <div class="small-12 medium-10 large-8 small-centered columns">
                <header>
                    <h1 class="page_header">{{ photoset_title|upper }}</h1>
                </header>
            </div>
        {% endif %}
    </div>
    <div class="row">
        <aside class="large-2 columns show-for-large-up">
            {% if photosets %}
                <nav class="side-nav text-right sticky-sidebar" role="navigation" title="Albums">
                    {% for photoset in photosets %}
                        <p><a href="{% url 'sn_app:photoset' photoset.slug %}">{{ photoset.title }}</a></p>
                    {% endfor %}
                </nav>
            {% endif %}
        </aside>
        <section class="small-12 medium-10 large-8 small-centered columns">
            {% if photoset_description %}
                <div class="row photoset-description">
                    <div class="small-12 columns text-justify">
                        <p>{{ photoset_description }}</p>
                    </div>
                </div>
            {% endif %}
            <div class="row">
                <div class="small-12 columns">
                    {% if photos %}
                        <ul class="medium-block-grid-2 large-block-grid-3">
                            {% for photo in photos %}
                                <li><a href="{% url 'sn_app:photo_home' active_photoset.slug %}#{{photo.publicID}}">{% pictureCloudinary photo.publicID sizes="(min-width: 1025px) 33vw, (min-width: 641px) 35vw, 100vw" srcset="200w 400w 600w 800w 1000w 1200w 1400w 1600w 2000w 2400w 2800w 3200w" alt=photo.title %}</a></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </section>
        <div class="large-2 columns">
            <p></p>
        </div>
    </div>
</article>
{% endblock body %}
