{% extends "sn_app/base.html" %}
{% load sn_app_extras %}
{% load staticfiles %}
{% load cloudinary %}
{% block title %}{% if active_photoset %}{{ active_photoset.title }}{% endif %}{% endblock title %}

{% block top_bar_title %}
<a id="page-top" href="{% url 'sn_app:photoset' active_photoset.slug %}">{{ active_photoset.title|upper }}</a>
{% endblock top_bar_title %}

{% block top_bar_section %} {% endblock top_bar_section %}

{% block tab_bar_title %}{{ active_photoset.title|upper }}{% endblock tab_bar_title %}

{% block page_header %}<span id="photo-title-wrapper"></span>{% endblock page_header %}

{% block body %}
    <div class="row">
        <div class="small-12 medium-10 medium-centered columns">
            <h5>2014</h5>
        </div>
    </div>
    <div id="sticky_footer">
        <div class="large-2 columns show-for-large-up text-right">
            <div id="photo-description-wrapper"></div>
        </div>
        <section id="photo-wrapper" class="small-12 medium-10 large-8 small-centered large-uncentered columns text-center"></section>
        <div class="large-2 columns show-for-large-up">
                <p><a id="prev" class="transparent-button-small prev">prev</a><a id="next" class="transparent-button-small next">next</a></p>
        </div>
    </div>
    <div class="row hide-for-large-up">
        <div class="small-12 columns text-center">
            <div class="text-center">
                <p><a id="prev" class="transparent-button-small prev">prev</a><a id="next" class="transparent-button-small next">next</a></p>
            </div>
        </div>
    </div>
{% endblock body %}
{% block footer %}
{% endblock footer %}
{% block templates %}
<script type="text/template" id="photo-item-tmpl">
    <figure >
        <picture>
            <source sizes="<%= sizes %>" srcset="<%= srcsetWebp %>" type="image/webp">
            <img src="<%= imgSrc %>" alt="<%= title %>" sizes="<%= sizes %>" srcset="<%= srcsetJpg %>">
        </picture>
    </figure>
</script>
<script type="text/template" id="photo-description-tmpl">
    <p><%= description %></p><p> </p>
</script>
<script type="text/template" id="photo-title-tmpl">
/<%= title %>
</script>
{% endblock templates %}