{% extends "sn_app/base.html" %}
{% load sn_app_extras %}
{% load staticfiles %}
{% load cloudinary %}
{% block title %}Photography - {% if photoset_title %}{{ photoset_title }}{% endif %}{% endblock title %}

{% block top_bar_title %}
    <a id="top-bar-header" href="{% url 'sn_app:photography' %}">PHOTOGRAPHY</a>
{% endblock top_bar_title %}

{% block tab_bar_title %}
    <a href="{% url 'sn_app:photography' %}">PHOTOGRAPHY</a>
{% endblock tab_bar_title %}

{% block off_canvas_tab_bar_page_header %}
    <h2 class="page_header">/{{ photoset_title|upper }}/</h2>
{% endblock off_canvas_tab_bar_page_header %}

{% block off_canvas_tab_bar_page_links %}
{% endblock off_canvas_tab_bar_page_links %}

{% block off_canvas_tab_bar_image %}
    <figure>
        {% pictureCloudinary active_photoset.cover_photo.publicID sizes="(min-width: 1025px) 90vw, (min-width: 641px) 100vw, 100vw" srcset="200w 400w 600w 800w 1000w 1200w 1400w 1600w 2000w 2400w 2800w 3200w" alt=active_photoset.cover_photo.title %}
    </figure>
{% endblock off_canvas_tab_bar_image %}

{% block json_ld %}
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "CreativeWork",
        "accountablePerson": {
            "@type": "Person",
            "name": "{{person.first_name }} {{ person.last_name }}",
            "sameAs": "http://www.sergeynikiforov.com"
        },
        "author": {
            "@type": "Person",
            "name": "{{person.first_name }} {{ person.last_name }}",
            "sameAs": "http://www.sergeynikiforov.com"
        },
        "copyrightHolder": {
            "@type": "Person",
            "name": "{{person.first_name }} {{ person.last_name }}",
            "sameAs": "http://www.sergeynikiforov.com"
        },
        "name": "{{ photoset_title }}",
        "text": "{{ photoset_description }}",
        "hasPart": [
            {% for photo in photos %}
                {% if forloop.last %}
                    {
                        "@type": "Photograph",
                        "name": "{{ photo.title }}",
                        "text": "{{ photo.description }}",
                        "author": {
                            "@type": "Person",
                            "name": "{{person.first_name }} {{ person.last_name }}",
                            "sameAs": "http://www.sergeynikiforov.com"
                        },
                        "copyrightHolder": {
                            "@type": "Person",
                            "name": "{{person.first_name }} {{ person.last_name }}",
                            "sameAs": "http://www.sergeynikiforov.com"
                        },
                        "copyrightYear": {{ photo.date_taken.year }},
                        "sameAs": "{% url 'sn_app:photo_home' active_photoset.slug %}#{{photo.publicID}}"
                    }
                {% else %}
                    {
                        "@type": "Photograph",
                        "name": "{{ photo.title }}",
                        "text": "{{ photo.description }}",
                        "author": {
                            "@type": "Person",
                            "name": "{{person.first_name }} {{ person.last_name }}",
                            "sameAs": "http://www.sergeynikiforov.com"
                        },
                        "copyrightHolder": {
                            "@type": "Person",
                            "name": "{{person.first_name }} {{ person.last_name }}",
                            "sameAs": "http://www.sergeynikiforov.com"
                        },
                        "copyrightYear": {{ photo.date_taken.year }},
                        "thumbnailUrl": "{{ photo.thumbnail_url }}",
                        "sameAs": "{% url 'sn_app:photo_home' active_photoset.slug %}#{{photo.publicID}}"
                    },
                {% endif %}
            {% endfor %}
        ]
    }
    </script>
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "item": {
          "@id": "{% url 'sn_app:photography' %}",
          "name": "Photography"
        }
      },{
        "@type": "ListItem",
        "position": 2,
        "item": {
          "@id": "{% url 'sn_app:photoset' active_photoset.slug %}",
          "name": "{{ photoset_title }}"
        }
      }]
    }
    </script>
{% endblock json_ld %}

{% block body %}
    <div class="show-for-medium-up">
        <section class="medium_screen_figure large_screen_figure">
            <div class="bg75-image-wrapper">
                <div class="image-wrap">
                    <div id="change-bg" class="photoset-image" style="background-image: url('{{ active_photoset.cover_photo.url }}');">
                        <div id="preloader"></div>
                        <div class="row">
                            <div class="medium-10 medium-centered columns page_header_wrapper_large">
                                <nav id="hero-nav" role="navigation">
                                    <h2 class="page_header">/{{ photoset_title|upper }}/</h2>
                                    {% if photosets %}
                                        {% for photoset in photosets %}
                                            {% if photoset.title != active_photoset.title %}
                                                <p class="landing"><a id="{{ photoset.cover_photo.url }}" class="hover-background" href="{% url 'sn_app:photoset' photoset.slug %}">{{ photoset.title|upper }}</a></p>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!--
    <div class="row show-for-medium-only">
        <div class="small-12 columns small_screen_figure medium_screen_figure">
            <div class="overlay_container">
                <figure>
                    {% pictureCloudinary active_photoset.cover_photo.publicID sizes="(min-width: 1025px) 90vw, (min-width: 641px) 100vw, 100vw" srcset="200w 400w 600w 800w 1000w 1200w 1400w 1600w 2000w 2400w 2800w 3200w" alt=active_photoset.cover_photo.title %}
                </figure>
                <div class="overlay">
                    <div class="row">
                        <div class="medium-10 small-centered columns">
                            <nav id="hero-nav" role="navigation">
                                <h2 class="page_header">/{{ photoset_title|upper }}/</h2>
                                {% if photosets %}
                                    {% for photoset in photosets %}
                                        {% if photoset.title != active_photoset.title %}
                                            <p class="landing"><a href="{% url 'sn_app:photoset' photoset.slug %}">{{ photoset.title|upper }}</a></p>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    -->
    <div id="album-wrapper" class="row medium-toggle-color-black">
        <div class="small-12 medium-9 small-centered columns container-center">
            {% if photoset_description %}
                <div class="content-center">
                    <h3 class="album-title">{{ photoset_title }}</h3>
                    <p class="album-description">{{ photoset_description }}</p>
                    <p class="image-order"><a href="#thumbs-wrapper">SEE THE PHOTOS</a></p>
                </div>
            {% endif %}
        </div>
    </div>
    <div id="make-fixed">
        <div class="row">
            <div id="fixed-wrapper" class="show-for-large-up">
                <div class="large-3 large-offset-1 columns container-center">
                    <div id="sidebar-wrapper">
                        <div id="sidebar-content">
                            <h3 class="album-title-sidebar">/{{ photoset_title|upper }}/</h3>
                            <p class="num-photos-sidebar">{{ active_photoset.num_photos }} photos</p>
                            <div class="photoset-links-sidebar">
                                {% if photosets %}
                                    {% for photoset in photosets %}
                                        {% if photoset.title != active_photoset.title %}
                                            <p><a href="{% url 'sn_app:photoset' photoset.slug %}">{{ photoset.title|upper }}</a></p>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if photos %}
                <div id="thumbs-wrapper">
                    <div id="thumbs" class="small-12 medium-12 medium-centered large-uncentered large-7 end columns small_screen_figure medium_screen_figure">
                        <ul class="photoset-block-grid">
                            {% for photo in photos %}
                                <li class="one-thumb text-center medium-toggle-color-white">
                                    <figure>
                                        <a href="{% url 'sn_app:photo_home' active_photoset.slug %}#{{photo.publicID}}">{% pictureCloudinary photo.publicID sizes="(min-width: 1025px) 30vw, (min-width: 641px) 100vw, 100vw" srcset="200w 400w 600w 800w 1000w 1200w 1400w 1600w 2000w 2400w 2800w 3200w" alt=photo.title %}
                                        </a>
                                        <figcaption class="image-captions medium-toggle-color-black">
                                            <div class="row">
                                                <div class="small-12 medium-10 large-12 small-centered columns text-left">
                                                    <h3 class="image-title-thumb"><a href="{% url 'sn_app:photo_home' active_photoset.slug %}#{{photo.publicID}}">{{ photo.current_order }}. {{ photo.title }}</a></h3>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    {% if photosets %}
        <div id="more-albums-wrapper">
            <div class="row">
                <div class="small-12 medium-10 medium-centered columns">
                    <h3 class="page_subheader more-albums-start">Other Albums:</h3>
                </div>
            </div>
            <div class="row">
                <div class="small-12 medium-10 medium-centered columns">
                    <ul class="more-albums-block-grid">
                        {% for photoset in photosets %}
                            {% if photoset.title != active_photoset.title %}
                                <li class="more-albums-thumb">
                                    <figure>
                                        <a class="fade-in" href="{% url 'sn_app:photoset' photoset.slug %}">
                                            {% pictureCloudinary photoset.cover_photo.publicID sizes="(min-width: 1025px) 35vw, (min-width: 641px) 50vw, 60vw" srcset="200w 400w 600w 800w 1000w 1200w 1400w 1600w 2000w 2400w 2800w 3200w" alt=photoset.title %}
                                        </a>
                                        <figcaption>
                                            <a href="{% url 'sn_app:photoset' photoset.slug %}">
                                                <p class="more-albums-title">{{ photoset.title|upper }}</p>
                                            </a>
                                        </figcaption>
                                    </figure>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock body %}
{% block whats_next %}
    <div id="whats-next" class="row">
        <div class="small-12 medium-10 small-centered columns">
            <h2 class="page_subheader">What's next?</h2>
            <ul class="no-bullet">
                <li><a href="{% url 'sn_app:about' %}">A FEW WORDS ABOUT MYSELF</a></li>
                <li><a href="{% url 'sn_app:contact' %}">GET IN TOUCH WITH ME</a></li>
            </ul>
        </div>
    </div>
{% endblock whats_next %}
{% block js_scripts %}
    <script src="{% static 'sn_app/js/app.min.js' %}"></script>
    <script src="{% static 'sn_app/js/stickysidebar.min.js' %}"></script>
{% endblock js_scripts %}
