{% extends "sn_app/base.html" %}
{% load sn_app_extras %}
{% load staticfiles %}
{% block title %}Resume{% endblock title %}

{% block open_graph %}
    <meta property="og:title" content="{{person.first_name }} {{ person.last_name }}. Resume." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://{{ request.get_host }}{% url 'sn_app:resume' %}" />
    <meta property="og:image" content="https://res.cloudinary.com/sergeynikiforov/image/upload/c_fit,q_85,w_1024/v1451498984/IMG_7963-Edit-Edit-1_xl3iu1.jpg" />
{% endblock open_graph %}

{% block off_canvas_tab_bar_page_header %}
    <h2 class="page_header">/RESUME/</h2>
{% endblock off_canvas_tab_bar_page_header %}

{% block off_canvas_tab_bar_image %}
    <figure>
        {% pictureCloudinary 'IMG_7963-Edit-Edit-1_xl3iu1' sizes="100vw" srcset="200w 400w 600w 800w 1000w 1200w 1400w 1600w 2000w 2400w 2800w 3200w" alt='La Defense, Paris' portrait=True %}
    </figure>
{% endblock off_canvas_tab_bar_image %}

{% block body %}
    <div class="show-for-medium-up">
        <div class="medium_screen_figure large_screen_figure">
            <div class="bg75-image-wrapper">
                <div class="image-wrap">
                    <div class="resume-image">
                        <div id="preloader"></div>
                        <div class="row">
                            <div class="medium-10 medium-centered columns">
                                <div id="hero-nav">
                                    <h2 class="page_header">/RESUME/</h2>
                                    <p class="landing"><a href="#summary">SUMMARY</a></p>
                                    <p class="landing"><a href="#contact">CONTACT DETAILS</a></p>
                                    <p class="landing"><a href="#education">EDUCATION</a></p>
                                    <p class="landing"><a href="#courses">ONLINE COURSES</a></p>
                                    <p class="landing"><a href="#work">WORK EXPERIENCE</a></p>
                                    <p class="landing"><a href="#skills">SKILLS</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="small-12 medium-10 large-10 xlarge-8 medium-centered large-centered columns toggle-color">
            {% if person %}
                <div class="row">
                    <article class="small-12 columns">
                        <div class="article_header_panel">
                            <header id="summary">
                                <h2>SUMMARY</h2>
                            </header>
                        </div>
                        <p id="resume-summary">A recent convert to all things IT, I started out in banking sales, then worked for a brokerage firm: engaged initially in customer service and later (following promotion) as a mentor for new employees. After six incredible months at Sochi Olympics where I worked for the Organizing Committee I decided to change my career completely - I wanted to learn coding. Now I am a beginner in Python programming interested in Web development, machine learning and computer science in general.</p>
                    </article>
                </div>
                <div class="row">
                    <article class="small-12 columns">
                        <div class="article_header_panel">
                            <header id="contact">
                                <h2>CONTACT DETAILS</h2>
                            </header>
                        </div>
                            <ul class="no-bullet contact_details">
                                <li>{{ person.first_name }} {{ person.last_name }}</li>
                                <li>{{ person.address }}</li>
                                <li><a href="mailto:{{ person.email }}">{{ person.email }}</a></li>
                                <li>{{ person.telephone }}</li>
                            </ul>
                    </article>
                </div>
            {% endif %}
            {% if education %}
                <div class="row">
                    <article class="small-12 columns">
                        <div class="article_header_panel">
                            <header id="education">
                                <h2>EDUCATION</h2>
                            </header>
                        </div>
                        <div class="row institution">
                            <div class="small-12 medium-8 columns ">
                                <h5><a href="{{ education.0.website }}">{{ education.0.college }}</a></h5>
                            </div>
                            <div class="small-12 medium-4 columns medium-text-right">
                                <p><span id="location">{{ education.0.location }}</span></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="small-12 columns">
                                <ul>
                                    {% for degree in education %}
                                        <li>{{ degree.degree }} in {{ degree.major }}, {{ degree.end_date.year }};</li>
                                    {% endfor %}
                                    <li>Diploma of Interpreter from English into Russian in 2011 (with excellence).</li>
                                </ul>
                            </div>
                        </div>
                    </article>
                </div>
            {% endif %}
            {% if onlinecourses %}
                <div class="row">
                    <article class="small-12 columns">
                        <div class="article_header_panel">
                            <header id="courses">
                                <h2>ONLINE COURSES</h2>
                            </header>
                        </div>
                        <div>
                            <ul class="online-courses">
                                {% for course in onlinecourses %}
                                    <li><a href="{{ course.url }}">{{ course.title }}, {{ course.school }}, {{ course.date.year }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </article>
                </div>
            {% endif %}
            {% if jobs %}
                <div class="row">
                    <article class="small-12 columns">
                        <div class="article_header_panel">
                            <header id="work">
                                <h2>WORK EXPERIENCE</h2>
                            </header>
                        </div>
                        {% for job in jobs %}
                            {% ifchanged job.employer %}
                                <div class="row institution">
                                    <div class="small-12 medium-8 columns">
                                        <h5><a href="{{ job.employer.website }}">{{ job.employer }}</a></h5>
                                    </div>
                                    <div class="small-12 medium-4 columns medium-text-right">
                                        <p>{{ job.employer.location }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="small-12 columns">
                                        <p>{{ job.employer.description }}</p>
                                    </div>
                                </div>
                            {% endifchanged %}
                                <div class="row">
                                    <div class="small-12 columns position">
                                        <h6>{{ job.position }}</h6>
                                        <p>{{ job.start_date|date:"M, Y" }} - {{ job.end_date|date:"M, Y" }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="small-12 medium-10 large-8 medium-offset-2 large-offset-4 columns">
                                        <ul class="achievements">
                                            {% for item in achievements|key:job.position %}
                                                <li>{{ item }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                        {% endfor %}
                    </article>
                </div>
            {% endif %}
            {% if skills %}
                <div class="row">
                    <article class="small-12 columns">
                        <div class="article_header_panel">
                            <header id="skills">
                                <h2>SKILLS</h2>
                            </header>
                        </div>
                        <ul class="skills">
                            {% for skill in skills %}
                                <li>{{ skill }}</li>
                            {% endfor %}
                        </ul>
                    </article>
                </div>
            {% endif %}
            <hr>
            <div class="row">
                <div class="small-12 columns text-center download">
                    <a href="{{ person.resume_link }}" class="button small">Download CV in PDF</a>
                </div>
            </div>
        </div>
        <div class="large-2 columns show-for-xlarge-up">
            <p></p>
        </div>
    </div>
{% endblock body %}
{% block whats_next %}
    <div id="whats-next" class="row toggle-sidebar">
        <div class="small-12 medium-10 small-centered columns">
            <h2 class="page_subheader">What's next?</h2>
            <ul class="no-bullet">
                <li><a href="{% url 'sn_app:photography' %}">SEE MY PHOTOS</a></li>
                <li><a href="{% url 'sn_app:contact' %}">GET IN TOUCH WITH ME</a></li>
            </ul>
        </div>
    </div>
{% endblock whats_next %}
